[2018-11-27 18:50] mynhidwotz opened #3 "delete and modify events"
Is there any way to delete or modify specific events in the calendar?

[2018-11-28 01:48] antoniandre commented on #3
Hi @mynhidwotz, I am currently working on the events full reactivity, so you can change anything in your array of events and it will update into vue-cal.
Apart from that, you can already modify the duration of events by dragging the bottom of the event. (v. 1.1.0).
After event reactivity, I will add a delete feature on events and implement the draggability.

[2018-11-28 22:12] andreykko opened #4 "Error in the documentation"
Hi. first of all thanks for the useful library!

In the documentation, you have an import example `import { Vuecal } from 'vue-cal'`
But we need to use general import as `import Vuecal from 'vue-cal'`.
Checked in the nuxt.js framework. If import like this `import { Vuecal } from 'vue-cal'` then Vuecal variable will be undefined.

[2018-11-28 22:34] antoniandre commented on #4
Hi @andreykko,
Thank you for that!
I corrected the typo.

[2018-11-28 22:34] #4 closed

[2018-11-29 03:13] mynhidwotz commented on #3
ok, thank you
nice work!

[2018-11-29 03:13] #3 closed

[2018-11-29 03:50] antoniandre commented on #3
Thank you,
I created a branch that I am working on for the events reactivity, I will ping you here when I am done with it.

[2018-12-01 09:51] antoniandre commented on #3
Hi @mynhidwotz, the event deletion feature is now released!
By the way, I previously said you would be able to delete events from your array of events (outside of Vue Cal) and have the changes updated automatically within Vue Cal. This is now possible.
**But due to reactivity, if you do so all the events and their data will be reloaded in Vue Cal after a change in the external array. You could pos

[2018-12-02 03:32] mynhidwotz commented on #3
excellent news, in a moment I update the translation in Spanish

[2018-12-04 06:05] chokies opened #7 "events that are pulled from axios not getting plotted"
Just checking if its not possible to plot events that are being pulled via ajax.

[2018-12-04 09:02] antoniandre commented on #7
Hi @chokies,
Thanks for your question.
I just releasing a patch to allow that along with an example in the documentation (example 11).
Also do keep in mind that each time you modify the array of events outside of vue-cal, vue-cal will refresh and replace all the events with the new array (you may lose your changes if you edited events in vue-cal).

Hope it solves your problem!

[2018-12-04 11:33] chokies commented on #7
im only using the calendar for read only purposes. also is it possible to display the events on the month view? and be able to remove the delete option

[2018-12-04 12:43] antoniandre commented on #7
I am currently wrapping up the delete feature which will only be possible when the option editable-events is true. That will be in the next release this week.
The events are not visible in month view for now, but it's in the to do list to show an indicator.

[2018-12-04 13:38] bilics commented on #3
Hi! I am sorry but I haven't found this in the documentation:

Is it possible to detect click for a particular event ?

thanks!

[2018-12-06 02:52] antoniandre commented on #7
The delete feature is now only available when the option editableEvents is set to true (disabled by default).

[2018-12-06 02:52] #7 closed

[2018-12-06 09:43] chokies commented on #7
thank you!

[2018-12-07 06:08] antoniandre commented on #3
Hi @mynhidwotz, sorry but for now it is not possible. I still have a few things to redesign, now the component is getting bigger, before I move on to the next features.
But I will definitely emit events with parameters in a near release, so that you can listen to them and perform tasks outside of vue-cal easily.

I will let you know here.
Cheers!

[2018-12-07 13:10] bilics commented on #3
Thanks!

[2018-12-09 07:59] antoniandre commented on #3
Hi @bilics,
In version 1.7.0 you can now listen to vue-cal emitted events to trigger actions when your events are updated. Have a look at the example **# Vue Cal emitted events**.
I hope that it will unlock a few things!

[2018-12-09 12:11] bilics commented on #3
Thanks @antoniandre !

[2018-12-13 13:19] pdroge84 opened #11 "Feature request: Overlapping as an option"
Hi,

Is there an option to disable overlapping? In the attachment you can see that on monday the 10th the events are overlapping.

However on tuesday the 11th they are not.

I wish it to be all like tuesday.

Thank you.
![overlapping](https://user-images.githubusercontent.com/18680053/49941192-17ca5480-fee2-11e8-8153-dbe5afd8a3ad.PNG)

[2018-12-14 04:41] antoniandre commented on #11
Hi @pdroge84,

This is the expected behavior as the splitting of events only happens when event start at the same time. If they are starting at different times like on your Monday they will be overlapping.
The purpose of this is to display the event as big as possible so the content is visible.

There is an easy way around it (working for 2 events overlaps) if you want to override this behavior:
j

[2018-12-14 05:50] pdroge84 commented on #11
Hi @antoniandre ,

This works perfectly. Thanks for the quick reply.

Looking forward to the new release.

[2018-12-19 15:35] DimaBDV opened #12 "attach vue-cal"
Hello. I can't attach Vue-Cal to my Laravel project.
What am I doing wrong?

my template "cal.blade.php"
`<m-cal></m-cal>`

my "app.js"
`Vue.component('m-cal', require('./components/vCal.vue'));`

my "vCal.vue"
`<template> </template>`
`<script>`
   ` import Vuecal from 'vue-cal'`
   ` import 'vue-cal/dist/vuecal.css'`

    export default {
    mounted() {
        console.log('Vuecal mounted')

[2018-12-19 22:55] antoniandre commented on #12
Hi @DimaBDV,

Thanks for your interest in vue-cal.
I can see that your second trial is successful because you use the tag `<vc>`that you registered: `components: { VC : Vuecal }`.

In the first attempt, your are mis-using the Vue.component functions, which complains there is no template.

To fix it with the same way, you want (double component declaration), you need to write it like this:

[code]

[2018-12-23 23:02] antoniandre commented on #12
Hi @DimaBDV, glad it fixes your problem.
Regarding the event indicator you could hack something with jQuery as you have it but I doubt it would be a good solution.
If you are happy to wait, I will release this feature in a couple versions, probably beginning of January.

[2018-12-26 09:08] antoniandre commented on #12
Hi @DimaBDV,
I have released the events indicators on month view!
You can have a look at the **# Month view with events indicators** example.
I am closing your initial issue now, you can open a new one if it's not related to your initial issue. 👌

[2018-12-26 09:08] #12 closed

[2018-12-26 09:14] antoniandre commented on #11
Hi @pdroge84,

This feature is finally released!
It took quite some time to adjust all the calculations for events overlaps.

You can now choose to **overlap or not** up to 3 events starting at the same time or only overlapping in time.
Please read on the **# Overlapping events** example as well as the [release notes](https://antoniandre.github.io/vue-cal/#release-notes) for last updates.

Hope it

[2018-12-29 11:14] DimaBDV opened #14 "Event date manipulation in DOM event handler"
Hello @antoniandre.
Happy New Year.

And questions.
1. Can i check date == day name

Example
`start: '2018-12-24'
if( start == 'Monday' )`

backend realization
`$date = "2018-12-22";
$week=array(0=>"воскресение","понедельник","вторник","среда","чтетверг","пятница","суббота");
$date = explode("-", $date);
return $week[date( "w", mktime(0,0,0, $date[1], $date[2], $date[0]) )];`

2. Can i get focused

[2018-12-30 06:04] antoniandre commented on #14
Hi @DimaBDV,

Happy new year to you too!
Regarding your first question, I have released a new version of vue-cal (1.12.1) to facilitate the events date manipulation in your event handler when you listen for an emitted event from vue-cal.

As now highlighted in yellow in **# Vue Cal emitted events**, to get the day of the week of a focused event you can do `event.startDate.getDay()` (number from 0

[2018-12-30 07:59] DimaBDV commented on #14
Hi @antoniandre .
Thanks for the answer.
I need to get date focused day to use this server request.
Even if there is no event on this day.

[2018-12-31 08:33] tarreislam opened #15 "[Feature request] CSS transitions when switching view"
Hi, first off, great job with the calendar, just what I was looking for.

Anyway, here is some ideas for features you could add:

* A guide arrow which tells the date and time (MSPAINT concept art: https://i.imgur.com/GmAh2AQ.png)
* Css/Vue transitions when "zooming in" on the calendar.

[2019-01-01 22:43] antoniandre commented on #15
Hi @tarreislam,

Happy new year!
Thanks for your great contribution and interest.
I'll merge your changes in shortly.

Regarding the guide arrow feature that's already in my todo list as Highlight current time, and it will look like just the same. I'll do that feature soon as it's fast and easy.

For the second feature you suggest I didn't quite get that, on zooming in?

Thanks

[2019-01-02 03:32] antoniandre commented on #14
Hi @DimaBDV,

I will create an event on cell day cell select soon.

For your last question, I understand what you want and that's a new and separate feature request.
Can you please create a feature request in dedicated issue? So that the tracking of features and request is easier for us and next readers.

Thanks!

[2019-01-02 11:30] tarreislam commented on #15
Hi, happy new year to you too.

Im glad you already have the guide arrow on your todo list.
Sorry for being unclear with the zoom request. If you visits googles calendar and switch view, the transition betwen the views are smoothen out, thats what i meant.

[2019-01-02 11:32] tarreislam opened #17 "Military time format"
Hello!

The military time format (24 hour time) should always be 4 numbers and zerofilled on the lefthend side https://i.imgur.com/zjz0wHF.png

**8:00** should be **08:00**, **9:00** should be **09:00** and so on

Thanks in advance!

[2019-01-02 12:56] DimaBDV commented on #14
Hi @antoniandre
Thanks for answers.
And.
I understood you. No problem. I will be creating new issues at others questions.

[2019-01-02 13:08] DimaBDV opened #18 "Exclusion of some events from the counter on the month view."
Hi @antoniandre

If i understand you correctly. I create new issue.

Can I hide certain events from the event counter in the month view? (for example, hide the same class - `"hideevent"` )

[2019-01-02 13:49] antoniandre commented on #14
Hi @DimaBDV,

Version 1.14.0 contains a new event on day select. I also added Date objects in all the emitted events when it makes sense.
Please refer to **# Vue Cal emitted events** for the updates, and to the release notes at the bottom.

Hope it solves your issue!

[2019-01-02 13:53] antoniandre commented on #17
Hi @tarreislam,

Version 1.14.0 has this fixed.
I also added a custom `timeFormat` option if you want to override the time format in time cell and events.
Refer to `timeFormat` in the https://antoniandre.github.io/vue-cal/#api.

I've changed a couple of things, don't forget to always check the release notes at the bottom of documentation.

Hope it solves your issue!

[2019-01-02 16:58] tarreislam commented on #17
Hi.

Thanks for the quick response, 1.14 solved my issue, thank you!

[2019-01-02 16:58] #17 closed

[2019-01-02 18:39] DimaBDV commented on #14
@antoniandre
Thank you so much!!! That's what I need! I close this issue.

[2019-01-02 18:39] #14 closed

[2019-01-02 22:55] antoniandre commented on #15
It's definitely an improvement that I want to do too. Will come soon.

[2019-01-03 19:02] GinoR96 opened #19 "Styling the calendar"
Hi @antoniandre ! Happy holidays!

Vue Cal it's great! just what I need!

I'm having problems when I try to stylize it a bit..

I'm trying to give it a red header.. Anyways, when I apply the styles in the inspection panel to the div with class `vuecal__header` it works like a charm.

`Styles: background-color: red , color: white`
<img width="663" alt="image" src="https://user-images.githubusercont

[2019-01-03 20:08] Gkiokan opened #20 "German Translation json file."
Below is the German translation for the vue-cal.
Can you add it?

[code]

[2019-01-03 22:58] antoniandre commented on #19
Hi @GinoR96,

Happy holidays to you too!
As you might have seen there is a CSS section in documentation to help you change the color theme https://antoniandre.github.io/vue-cal/#css-notes.

I see you are placing the red background on . vuecal__header, this will not be enough since some elements inside it have colors.

I have reproduced your attempt in my browser dev panel:

**red on `vuecal__heade

[2019-01-03 23:23] antoniandre commented on #20
Hi @Gkiokan,

Thanks for your contribution, I will do it.
To use this language the locale will be `de`.

Cheers.

[2019-01-03 23:23] #20 closed

[2019-01-03 23:31] antoniandre commented on #11
Closing for inactivity. Please reopen if not solved.

[2019-01-03 23:31] #11 closed

[2019-01-04 00:40] GinoR96 commented on #19
@antoniandre Thank you so much for your dedicated answer. I got it working just fine! I think one of the problems was the sass language, I changed it to scss and it worked great!

Cheers!

[2019-01-04 01:17] antoniandre commented on #19
Awesome. Closing the issue then!

[2019-01-06 22:44] antoniandre commented on #15
Hi @tarreislam,

The current today's time is now marked by a line, check out the **# Today's current time** example.
Hope that's doing what you had in mind too. :)

[2019-01-07 09:02] tarreislam commented on #15
Hi @antoniandre, yeah I noticed, its perfect, thanks for the quick release. I'm also thankful for the `vuecal__now-line` helper class which came in handy!

[2019-01-07 15:31] ArjenSwBase opened #21 "Multiple-day events / All Day events"
I love this calendar. It looks clean and has no dependencies. The one key feature I am missing is Multiple-day events, I've seen that you have this point already on the todo list. What do you think your timeline is for this? I would love to use this in my vue project.

I've tried to implement this myself. But haven't really managed yet.My attempt looked a bit like this [https://puu.sh/Ct1zX/9a54f6

[2019-01-07 22:54] antoniandre commented on #21
Hi @ArjenSwBase,

Thank you for your feedback.
You are right this is in my to do list, I will give it a higher priority if you need it.
But there is quite a bit of work for that (for multiple day events).
I will create a dedicated branch for that so you can check my progress there.

For now, you can create a full day event setting a start time and end time that fills up your timeline length.

And

[2019-01-08 07:36] ArjenSwBase commented on #21
Thank you for your reply! I'll keep an eye on it.

Here is the same link fixed:
[https://puu.sh/Ct1zX/9a54f61f90.png](https://puu.sh/Ct1zX/9a54f61f90.png)

[2019-01-09 03:56] fadziljusri opened #23 "Prevent click-to-navigate for 'out-of-scope' cell option"
Hi @antoniandre ,

Happy new year! Thanks for your great work in this vue-cal, really loved it!

Regarding this matter, I've trying to display specific month only in the calendar, able to prevent the `arrowPrev` and `arrowNext` from clicked but `out-of-scope` cell is still able to be clicked thus change the month of the calendar

[2019-01-09 04:43] fadziljusri commented on #23
Hi, I solved it using jquery. I've read your code (https://github.com/antoniandre/vue-cal/blob/master/src/components/vue-cal/cell.vue#L14) and realized that u are using `touchstart` instead of `click` event lol. ^_^

My solution:
[code]

[2019-01-09 04:43] #23 closed

[2019-01-10 05:10] cristoper opened #25 "Highlight Today's current time visible in Month view"
It looks like ever since the highlight today's current time feature was implemented in 1.16, the highlight line is also shown on the Month view, but I believe it should only be visible in the Week and Day views. In Firefox (60.3) this causes the view to be too tall and becomes vertically scrollable.

This issue is reproduced for me (again Firefox 60.3) in the demo here: https://unpkg.com/vue-cal@1

[2019-01-10 09:49] antoniandre commented on #25
@cristoper, hahaha you are right let me have a look!

[2019-01-10 11:34] antoniandre commented on #23
Happy new year @fadziljusri!
I understand the issue here and awesome that you could find a way out.
vue-cal will become more and more flexible allowing to implement custom behaviors easily.

[2019-01-10 22:36] #25 closed

[2019-01-11 13:04] DimaBDV commented on #18
Thank you @antoniandre  . It solved my issue!

Sorry, amm... how can I filter out some classes?

[2019-01-12 07:19] antoniandre commented on #18
Hi @DimaBDV,
Glad it solves your issue, I will close it then.

for your question, this is es6 javascript syntax and array functions, you can simplify it like this:

[code]

or like this:

[code]

[2019-01-12 07:19] #18 closed

[2019-01-13 14:11] tarreislam opened #28 "Support displaying more than 3 simultaneous events, in chronologic order."
Hi,

I noticied this and I cannot wrap my head around it, you might have some useful insight on this:

Here is a gif showing the problem I have: https://i.imgur.com/c9SlrZO.gif
As you can see, its not possible to reach the event 2. The only way to reach it is to set `:time="false"`

here is the events I used in the example
[code]

And the last thing is that when I use `:time="false"` the events ar

[2019-01-13 22:39] antoniandre commented on #28
Hi @tarreislam,

Unfortunately vue-cal is only capable to display up to 3 overlapping events currently.
Displaying 4 or more simultaneous events will stack in the middle all the other events. So this is a feature request.

Regarding events displayed on other days, that is probably bug. But can you double check that your events are not ending before they start in case it comes from this? 😅

[code]

[2019-01-15 12:18] doutatsu opened #29 "Making vuecal__cell a named scope"
Your release today really helped us to solve the issue of not being able to style what is shown on the monthly view count. Your calendar allowed us to do most things, but we really needed to have that extra customisation. I am trying to implement this design:

![image](https://user-images.githubusercontent.com/4270980/51180239-c980ea80-18bf-11e9-948b-318c5046366c.png)

I've actually got two reques

[2019-01-15 12:21] doutatsu opened #30 "JS tests"
I was wondering if there are plans to add tests, say with Jest, for this library? That would make it me a lot more confident in using this library, as it looks fantastic and documentation is very well written.

[2019-01-15 23:35] antoniandre commented on #29
Hi @doutatsu,

Thanks for your feedbacks.
I appreciate that displaying events on month view is something common that not only you are looking for. So I will add this in my to do list and will start working on it in a couple of features!

I also plan to allow overriding renderers (cells maybe, events definitely) with scope slots but that takes time to refactor.
(The reason for that not being straig

[2019-01-15 23:59] antoniandre commented on #30
Hi @doutatsu,
Thanks for your interest and feedback.
Sorry, there is currently no plan to add tests, as I am not familiar enough with unit testing to make it a priority.
I would rather spare time to work on my to do list and all the feature requests! haha 😅

Well if ever you feel like contributing on that bit you are more than welcome! But I suspect it requires a more in depth knowledge of vue-cal

[2019-01-15 23:59] #30 closed

[2019-01-16 05:02] antoniandre commented on #29
Hi @doutatsu,
Good news here, the events are now showing up on month view!
Please refer to this example: https://antoniandre.github.io/vue-cal/#ex--events-on-month-view

I also added CSS classes (ref. https://github.com/antoniandre/vue-cal/commit/cd25dd88abb7ddb7230b815736f68b04a6b62d2b#diff-bf1f82072eca6679a982a046a92b8573R5) to help you out.

Hope it helps solving your issue!

[2019-01-16 10:17] doutatsu commented on #30
That's understandable. I am happy to contribute at least some of the basic setup and some component tests should be easy to do even without a full grasp of the codebase. And hopefully will give you a foundation to built on. I'll find some time and make a PR in the future

[2019-01-16 10:19] doutatsu commented on #29
That's fantastic, such a quick reply as well, thanks a lot @antoniandre!

[2019-01-16 19:07] tarreislam commented on #28
Hi,

sorry for the late reply.

I see, yeah that would be a nice addition to stack more than three events on a single timeslot. Today I have solved it by having a filter method for the array, so this is not super critical for me.

But an alternative (for me at least) could be if you added a new prop that:
1.  Removes the time (just like `:time`)
2. Stacks all events ontop on each other and sorts t

[2019-01-16 23:04] antoniandre commented on #28
Hi @tarreislam,
I have tried your events and they all appear on the same day. Stacked and not very readable, I confess, but same day. So let me rename this issue.

Displaying more than 3 simultaneous events is not the top priority for now but I will work on that in a handful of releases. I will still have a glimpse soon to see if there's a quick solution.

Regarding the events displaying in a chro

[2019-01-17 09:45] tarreislam commented on #28
Hi again.

*Regarding the bug:*
Okay tahts weird, I will double check to see if my css is poop.

*Regarding displaying more than 3 simultaneous *
No worries, if you figure it out, you do, if you dont, its not the end of the world.

*Regarding events displaying in chronological order*

Sorry for my bad excel example, I did not mean to make them grouped 😄. What I meant was: each event stacked vertic

[2019-01-21 14:34] ArjenSwBase commented on #21
Hi @antoniandre ,

How is it going with this? Have you thought about how to deal with this?
Thanks!

[2019-01-22 18:36] Paul-Todd opened #33 "Make separate .scss file"
Is there any reason the scss is embedded in the components? It would be nice to have a separate scss file that I can customize with the rest of the scss in my project.

[2019-01-22 21:48] PauloKlixto opened #34 "Start week on sunday"
Hello,
For my project I need for the week to start on sunday opposed to monday, and the documentation of this plugin doesn't say if it's possible.

[2019-01-22 23:01] antoniandre commented on #33
Hi @Paul-Todd, I would be glad to allow sharing an scss file into the dist folder as well as the css currently shared.
If you have a guide or best practice for that please share!

[2019-01-22 23:40] antoniandre commented on #34
Hi @PauloKlixto,

Currently vue-cal does not allow starting week from Sunday, but that is a feature I am adding to the to do list!

[2019-01-23 01:19] ryanmkdir commented on #21
I'm also in love with this calendar, great job! This feature would be super helpful to me as well. Thanks for your hard work so far.

[2019-01-23 09:02] slouchy opened #35 "Use <script> tag Calendar not working"
It's my code

https://codepen.io/slouchy592/pen/xMbYbv

I via vue-cal with <script> tag, but there is no calendar.

How can I use vue-cal with <script> tag ?

thanks

[2019-01-23 09:08] antoniandre commented on #35
Hi @slouchy,

To use vue-cal with script tag you need to define the component in your vue instance like this:
https://codepen.io/antoniandre/pen/VgYxLg

[code]

Thank you for noticing, I will update the documentation soon!

[2019-01-23 09:46] slouchy commented on #35
Thank you very much!

[2019-01-23 13:03] witpok opened #36 "Week view without events section and "today" class in headings"
Hi, thanks for this great lib, can you tell me if there is by any chance an option:
1) to hide (beside css-way) the event columns in week view? I need only the top section - the headings - rendered.
2) In the same week view, I need to have "today" class on today's date to be able to style it. So the vuecal__heading should have today class too, while now only corresponding vuecal__cell underneath i

[2019-01-24 00:01] #35 closed

[2019-01-24 00:20] antoniandre commented on #36
Hi @witpok,
Currently there is no option to hide the main content (other than CSS), I wouldn't suspect someone would ask for that haha.

I will add that option later today along with a class on days of the week headings.
Will let you know here.

[2019-01-24 08:13] akki-jat opened #37 "Error: hasTouch is not defined on beforeDestroy hook"
This error `hasTouch is not defined` is popping whenever vue-cal component is destroying.
I see you have fixed this problem in commit 88932ee60130c73623510662fc26e897658cfbb8.

So, I think it is still not updated in npm. Can you update it?

### Reproduction Link
[https://codesandbox.io/s/n9xwkpjp00](https://codesandbox.io/s/n9xwkpjp00) - just hit destroy button and see console.

[2019-01-24 08:43] antoniandre commented on #37
Hi @akki-jat,
Thanks for noticing and sorry I forgot to rebundle!
Now fixed in version 1.23.0 👌

[2019-01-24 08:43] #37 closed

[2019-01-24 09:22] antoniandre commented on #36
Hi @witpok,

New option hideBody is now available  in version 1.24.0 along with today's css class on weekdays headings.
https://antoniandre.github.io/vue-cal/#release-notes

Hope it helps!

[2019-01-24 09:22] #36 closed

[2019-01-24 09:34] witpok commented on #36
This is wonderful, thank you very much! Testing it right away!

[2019-01-24 18:23] tarreislam commented on #28
Just like you show events in the month-view I would like to do but in the Day view.

This is pretty accurate:

https://i.imgur.com/MVFetnD.png

[2019-01-24 22:43] antoniandre commented on #28
Ok I understand you want to stack up events like timeless events but with time information.
+ chronologic sorting.

For now you can achieve this with CSS by forcing events height to auto and position to relative.
I will think about it but I am still not sure I will add an option for stacking events with time.

[2019-01-25 14:22] akki-jat opened #38 "Delete popup shows without hold when prop time is false"
Hi,
when time prop is set to `false`, delete popup opens without hold

### Reproduction link
[https://codepen.io/akki-jat/pen/JxGdzg](https://codepen.io/akki-jat/pen/JxGdzg) - just click to edit

[2019-01-26 12:20] antoniandre commented on #38
Hi @akki-jat, Thanks for the fix!
In your codepen to get the latest version change the vue-cal external link to `https://unpkg.com/vue-cal@latest`

[2019-01-26 12:20] #38 closed

[2019-01-28 12:26] antoniandre opened #40 "All Day events in separate bar on week & day views"
As per the original request https://github.com/antoniandre/vue-cal/issues/21,
the idea is to have all the "all day events" separated in a top bar like on this image:

<img width="859" alt="screenshot 2019-01-07 04 24 59" src="https://user-images.githubusercontent.com/22971289/51836226-eb647d80-2353-11e9-8442-d1895e1ecc23.png">

[2019-01-28 12:36] antoniandre commented on #21
Hi @ArjenSwBase, (& @ryanmkdir),

I have released 1 of your 2 requests: support multiple days.
Please have a look here https://antoniandre.github.io/vue-cal/#ex--multiple-day-events

For the other request I created a separated issue: #40.

This feature, involving a lot of refactoring, is a requirement for the "all day events" bar and it is also unlocking other future features like recurring events

[2019-01-28 12:36] #21 closed

[2019-01-30 13:15] ArjenSwBase opened #41 "The option to have the scroll position start somewhere else"
Hello,

When I open a page with the calendar on it. The calendar starts at 0:00. but my first events are not until 09:00. So i would like to have the calendar scrolled down when first openend.

I know I could use the timeFrom option and set it to 07:00. But that would remove 00:00 - 06:59 and I would like to keep these cells shown.

Hope I made my issue clear. Found it hard to explain this one.

[

[2019-01-30 13:18] ArjenSwBase opened #42 "Option to replace or remove the "no event""
Hello,

Could we have an extra option that could either replace the "No event" text to something else like "Nothing planned" or if left empty completely removed? default of course still "No event".

Thanks!

[2019-01-30 13:36] ArjenSwBase opened #43 "Custom function when double clicked on event"
Hello,

Currently if you double click on an event the view changes to the day view. What I would like to do is to overwrite this functionality and trigger a function. When an event is double clicked I would like to open a modal. So i would like something like "@event-double-click='doMethod'"

Thanks!

[2019-01-30 23:05] antoniandre commented on #43
Hi @ArjenSwBase,
Agreed, allowing a callback / disabling navigation on event double-click is an obvious task that vue-cal should allow.

[2019-01-30 23:06] antoniandre commented on #42
Hi @ArjenSwBase,

Fair enough, I will think about a nice way to allow overriding it.

[2019-01-30 23:20] antoniandre commented on #41
Hi @ArjenSwBase,
Sorry I won't add this feature as it would add too much complexity both code wise and UI wise.
Additionally It's not a big added value and for some other users it will be a problem it will not be working in all cases.

But if that could help you, I can return the array of events on current view on emitted events `ready` and `view-change`. From that you can filter, get the first da

[2019-01-31 08:18] ArjenSwBase commented on #41
Hi @antoniandre

I understand that.

I think your solution will help. Could you implement that? Thanks!

[2019-02-03 08:12] antoniandre commented on #41
Hi @ArjenSwBase, the events are now returned (https://antoniandre.github.io/vue-cal/#ex--emitted-events).
Hope it helps!

[2019-02-03 08:12] #41 closed

[2019-02-04 01:56] antoniandre commented on #42
Hi @ArjenSwBase,

This is now possible from version 1.27.0.
Please refer to https://antoniandre.github.io/vue-cal/#ex--custom-title-and-no-event-text

[2019-02-04 10:42] ArjenSwBase commented on #42
Hey @antoniandre

Thanks for the quick development of this calendar!
I have an issue with the slot for no-event though it appears that if there are events present somewhere else in the view it will throw an error.

[code]

[2019-02-04 23:35] antoniandre commented on #42
Hi @ArjenSwBase, I have tried it with events and can't reproduce: https://codepen.io/antoniandre/pen/rPzWOJ.

Please fork this pen and place your code in to recreate the issue if it is still here.

[2019-02-05 10:20] ArjenSwBase commented on #42
Hey @antoniandre

I've tried to reproduce the bug in that codepen but I couldn't manage, even though in my own environment it consistently happend, even in clean new calendars.

So I decided to check what was different between your environment and mine; decided to update my vue to the newest 2.5.* version and it is now fixed. So I dove into the change log of vue to pinpoint what has fixed it and I

[2019-02-05 10:20] #42 closed

[2019-02-05 10:47] antoniandre commented on #33
Closed for inactivity.
If someone else needs this and can guide me I will do it.
I could not find documentation about it.

[2019-02-05 10:47] #33 closed

[2019-02-05 12:21] onmotion commented on #43
Yes, it's wold be great if we had a week/day view event slot.
Now I can do modal through the **events-count-month-view** slot

[code]

![2019-02-05_15-14-22](https://user-images.githubusercontent.com/12899080/52272959-75ff3b00-2959-11e9-8a29-ee1caa49c160.png)

![image](https://user-images.githubusercontent.com/12899080/52273071-ba8ad680-2959-11e9-86b1-41167314d614.png)

[2019-02-05 12:46] onmotion opened #45 "[Deprecation] Using unescaped '#' characters"
If I use **editable-events** I get a deprecation notice
[code]
It seems because background-image svg uses fill property with hash value instead of rgb()
[code]

[2019-02-05 12:48] antoniandre commented on #43
Smart solution @onmotion!
I'm glad you found a workaround, I'll start this dev soon.

[2019-02-05 13:00] antoniandre commented on #45
Hi @onmotion,

Thanks for pointing it out. Fixed in version 1.28.2.

[2019-02-05 13:00] #45 closed

[2019-02-06 01:04] antoniandre commented on #43
Hi folks, This is now possible in version 1.29.0.
Please have a look here: https://antoniandre.github.io/vue-cal/#ex--open-dialog-on-event-click

Hope it helps solving the issue.

[2019-02-06 16:29] witpok opened #46 "Display more week-rows on month view"
Hi,
Do you think you could add an option to render additional rows on month view? Right now there is a fixed number of six rows, as month always starts in the first row, but can end in 4th, 5th or 6th row. It would be best to have options for prefix-weeks and suffix-weeks, like:
suffixWeeks: 3 - renders additional three weeks of next coming month,
prefixWeeks: 2 - renders additional two rows of pr

[2019-02-07 06:42] antoniandre commented on #29
Hi @doutatsu,

You can now override the default event rendering!
Please have a look here: https://antoniandre.github.io/vue-cal/#ex--custom-event-rendering
(You can also open dialog box if you need: https://antoniandre.github.io/vue-cal/#ex--open-dialog-on-event-click)

As you have specific classes on cells date and cell content and events are overridable I believe you can now customize your view

[2019-02-07 22:34] antoniandre commented on #43
@ArjenSwBase, @onmotion, tagging you in for notification 😉

[2019-02-07 22:52] antoniandre commented on #46
Hi @witpok,
I understand your request and sounds reasonable, I will have a look to see if I can do something fast enough, if not I will still put it in the todo queue! 😝
Will let you know.

[2019-02-08 00:15] antoniandre commented on #46
Hi @witpok, actually after looking closer, I am curious why you would want to display more rows spreading on 2 months?

After trying something, this looks confusing to me, and what would be the title of the view if starting date and ending date are arbitrary?

<img width="849" alt="screen shot 2019-02-08 at 11 03 39 am" src="https://user-images.githubusercontent.com/22971289/52451048-987b9900-2b91

[2019-02-08 09:24] witpok commented on #46
Thanks for response. I have a design guidelines on a project I'm working on, please look below:
![obraz](https://user-images.githubusercontent.com/6429525/52468999-35ced100-2b82-11e9-9f51-950cdaddcb7b.png)
I need to fill whole mobile screen with the calendar view, so instead of spreading cells in their height, there are added rows for previous and next months. For now I have forked vue-cal and add

[2019-02-09 09:01] aznfish opened #47 "Date picker and day view"
I've got two instances of the same vue-cal object and the data is the same. Is there a way to use one calendar as a date picker (Month only view) and the other as calendar (Week/Day only view), such that when selecting dates on one calendar, it will update the date position of the other calendar.

I'm not having much luck with listening for 'ready' and changing 'selectedDate:'

Hope my query makes

[2019-02-09 15:44] antoniandre commented on #15
Hi @tarreislam,
It took me a while to get to this and sort it out but it is now released :)
As transitions are activated by default you can have a preview on any example in the documentation.
Hope you like it haha.

[2019-02-10 10:05] antoniandre commented on #47
Hi @aznfish,

I have released version 1.32.0 which allows you to do what you are looking for.
Please have a look at this example: https://antoniandre.github.io/vue-cal/#ex--sync-two-calendars

Hope it helps solving this issue!

[2019-02-11 00:14] antoniandre commented on #46
Hi @witpok,
so as it is not logical to have more day cells of other months than the selected one, I suggest we have a 2 month view, we would have enough cells for your case and we can have a logical title like "February - March 2019".
Does that suit you?

[2019-02-11 08:01] aznfish commented on #47
Hi antoniandre, thank you so much for turning around this feature so quickly. I took it one step further and sync'd it both ways, now the selectedDate is updated from either of the calendars and they both stay in sync. Cheers!

You're doing a great job mate, keep it up!

[2019-02-11 08:01] #47 closed

[2019-02-11 11:25] antoniandre commented on #47
Thanks for your support @aznfish! 👍

By the way, if you don't mind may be you can paste your syncing magic here for the next reader! :)

[2019-02-11 12:32] aznfish commented on #47
Happy coding guys!

<vue-cal
    class="vuecal--blue-theme"
    xsmall
    :time="false"
    default-view="month"
    :clickToNavigate=true
    hide-view-selector
    :events="events"
    :disable-views="['years','year','week','day']"
    @day-focus="selectedDate = $event"
    :selected-date="selectedDate"

<vue-cal
    class="vuecal--blue-theme"
    default-view="day"
    :disable-views="['years'

[2019-02-11 12:39] ArjenSwBase commented on #40
Hey @antoniandre

I am assuming this calendar project is a hobby/fun project for you, so I don't really wanna come across pushy. But in our project we would need this functionality in a week or so. I would appreciate it a lot if you would pick this up!

Thanks a lot for your hard work!

[2019-02-11 15:42] witpok commented on #46
Hi @antoniandre,
What about having 3 month view? Past, present and future one? Having two-months also suits my needs, so it would be great to have that.
Just a question regarding future plans - have you thought about a use-case, where your lib could be used as a date picker (btw. I can see that recently added demo with new sync option works like that, nice!) but like in a flight-scheduling tool? I

[2019-02-11 22:51] antoniandre commented on #43
@ArjenSwBase please review this and close if solved.

[2019-02-11 23:01] antoniandre commented on #40
Hi @ArjenSwBase,
As you point it it is a side project and I do also have a full time job.
I will start this feature when I have time this week. But if you are in a hurry for the next week you should consider starting this feature in a fork.

[2019-02-12 02:29] antoniandre commented on #40
I'll do the base tonight and we will see how long it will take from there.

[2019-02-12 07:08] antoniandre commented on #46
Perfect, 3 months is actually better, we could have a season view.
Just keep in mind that the view won't change as you pick a date close to the view threshold.

Regarding day range selection, I will add this later, after the events drag and drop, events creation and a few requested features. I will put it in my todo list.

[2019-02-12 08:56] ArjenSwBase commented on #43
Oh! Yes, this is good. Apologies for not closing this earlier.

[2019-02-12 08:56] #43 closed

[2019-02-12 09:00] ArjenSwBase commented on #40
I'll see if I can continue on your base when I have some time. I've tried earlier but couldn't figure it out thats why I opened an issue for it! ;)

Thanks!

[2019-02-12 09:09] antoniandre commented on #40
Hi @ArjenSwBase,
It is well started and already showing up nicely! (you can try in the dedicated branch)

What is not done yet is:
- implement multiple days in this new area (events across multiple cells)
- check all the other features in this new top bar, and make sure it all works. I have noticed the delete feature is not working well
- add this feature on month view as well

There is still a fa

[2019-02-12 11:25] jessicakennedy1028 commented on #34
Is there a possible way to look into modifying the module until the feature is added? I looked at the code, I see on line 2123, the Json string, although when digging into the code elsewhere, I see your calculations are based on Monday. Is there a simple fix that I am missing?

[2019-02-12 14:44] antoniandre commented on #34
Hi @PauloKlixto, @jessicakennedy1028,

I have released a new version 1.34.0 that allows starting the week on Sunday with this option: `start-week-on-sunday` please refer to the API section https://antoniandre.github.io/vue-cal/#api.

Hope it helps,
let me know if you notice something unexpected!

[2019-02-12 14:51] antoniandre commented on #34
Working example: https://codepen.io/antoniandre/pen/OdEgEq

[2019-02-13 21:30] ivanmercado9 commented on #28
@tarreislam Do you have a solution to the problem? I need to have more than 3 events at the same time

[2019-02-13 22:46] antoniandre commented on #29
Closing for inactivity. Please reopen if not solved.

[2019-02-13 22:46] #29 closed

[2019-02-14 10:33] doutatsu commented on #29
Thanks, @antoniandre, didn't have a chance to look at this in detail. From first glance, it seems that overriding only works for week view? If that's not the case, then perfect 👌

[2019-02-14 13:52] antoniandre commented on #40
Hi @ArjenSwBase,
I have released a first stable version https://antoniandre.github.io/vue-cal/#ex--all-day-events.
Displaying multiple day events across multiple cells is not done yet. I will only start that next week.
But if you have multiple days to display, they will be split into daily segments and repeated on each day it needs to be.

This should already help you for your project. 👌

[2019-02-14 13:56] antoniandre commented on #28
Hi @ivanmercado9,
this is not yet available, I will start it next week.

[2019-02-15 02:09] johnfraney opened #48 "Horizontal scroll bar visible during view change transition"
When changing between views (e.g. week to month), a horizontal scroll bar is visible during the transition. (I think the [-15px translateX](https://github.com/antoniandre/vue-cal/blob/master/src/components/vue-cal/index.vue#L1193) is the cause.)

Here's a gif showing this behaviour:

![vue-cal-horizontal-scroll-bar-on-view-change optimized](https://user-images.githubusercontent.com/1728528/5282990

[2019-02-15 08:17] ArjenSwBase commented on #40
Hi @antoniandre

Amazing work! Thank you so much. I can indeed already use this for my project.

[2019-02-15 16:34] johnfraney opened #50 "Include visible but out-of-month dates in event payloads"
Is it possible to get a range of all visible dates in the month view in the `view-change` and `ready` events? When viewing February in the month view, for instance, the visible dates are January 28 - March 8th, but only February 1 - February 28 are in the event.

 [vue-simple-calendar](https://github.com/richardtallent/vue-simple-calendar) has these, for instance:

- `periodStart` / `periodEnd`: t

[2019-02-17 02:53] antoniandre commented on #48
Hi @johnfraney, thanks for pointing it out!
By the way which browser behaves like that? I could not reproduce on Chrome Safari and Firefox mac.

I am about to merge your change in, awesome :)

[2019-02-17 02:54] #48 closed

[2019-02-17 03:07] antoniandre commented on #50
Hi @johnfraney,
I did not think about this before, this should definitely be possible.
I will look at it soon!

[2019-02-17 03:19] antoniandre commented on #29
Yes, it works for all the views 👌

[2019-02-17 16:17] johnfraney commented on #50
@antoniandre That's great. Thanks!

[2019-02-17 16:28] johnfraney commented on #48
@antoniandre I was able to reproduce that on Firefox 66.0b7 and Chrome 72.0.3626.109, both running on Linux.

[2019-02-18 18:52] bribar commented on #3
@antoniandre is updating events still a WIP?

[2019-02-18 19:29] bribar opened #51 "Updating Event Reactivity"
Hey @antoniandre nice plugin!

I referenced this https://github.com/antoniandre/vue-cal/issues/3 but I think its a different issue. Or is it the same and I'm missing something?

It doesn't seem like events are reactive, like when updating an event(s)...

https://jsfiddle.net/bribar/d2nv7Lue/46/
Clicking UPDATE updates the events as seen in console. Then if you click the "Need to go shopping" which

[2019-02-18 23:42] antoniandre commented on #51
Hi @bribar,
Thanks for your feedback.
Well this is supposed to be possible like shown in documentation here: https://antoniandre.github.io/vue-cal/#ex--modifying-events-from-outside

According to your example the events props are not reactive, which is maybe a regression that I have introduced while refactoring. I will have a look into what causes this.

But anyway, there is also another way to up

[2019-02-19 03:11] bribar commented on #51
That doesn't seem very practical to edit the event when you click the event but I see what your saying.
Any idea how far out this might be fixed?

Thanks!

[2019-02-19 12:55] davidgraeff opened #52 "Drag support"
I have checked your drag support branch.
Is there a reason that you don't build up on the [html drag and drop API](https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API)?

tl;dr

That would only require a "draggable" attribute on a vuecal__event.
* Instead of a onMouseMove, you work with the `dragstart` event.
* On your vuecal__cell you just need to react on the "drop" event.
* T

[2019-02-19 13:25] davidgraeff opened #53 "Hard to contribute: Giant index.vue"
It is really hard to contribute to your project, because of your giant index.vue component (1.7k lines).

I suggest to
1. move the style into its own scss file and let the build system figure that out.
2. and to move the headerbar out of index.vue into its own component.

There are probably more ways to split the file up, but those are the low hanging fruits.

Cheers

[2019-02-19 22:56] PauloKlixto commented on #34
@antoniandre
It worked perfectly!
Thanks for to add this feature.

[2019-02-19 22:56] #34 closed

[2019-02-20 08:54] antoniandre commented on #53
Hi @davidgraeff,
Thanks for your interest into contributing!

As I add features the code base is getting bigger and bigger and I agree it would be nice to split it into multiple files now. I actually had this in mind for a while.
But there is a tradeoff: code will be more complex and not significantly shorter in the main index.
The reason for that:
- some logic needs to be shared across the differ

[2019-02-20 09:12] antoniandre commented on #52
Hi @davidgraeff,
Thank you for your ideas and tips, I did not spend long on this feature yet.
I try to have a stable "read & display events" calendar with all the requested features first.

This  API looks great, but apparently it's not currently supported on android https://caniuse.com/#feat=dragndrop

I don't think it will be very hard to do the drag and drop as I already did the resizing events

[2019-02-20 09:18] davidgraeff commented on #53
Use ES6 modules and move utility methods into own files. The build system will care about joining everything. The "updateMutableEvents" method is a good candidate for example. Basically all methods that are not "reactive".

Sounds promising, I'll have a look.

I have seen your ToDo list. If you are done with that, this component will the most complete component for Vue that I've seen so far. But d

[2019-02-20 09:23] davidgraeff commented on #52
If you aim for mobile browsers, then the D&D specification is not very helpful indeed. It is exclusively for desktop browsers as its concept didn't incorporate touch events. Closing this for now, and I'm looking forward to your solution.

[2019-02-20 09:23] #52 closed

[2019-02-20 10:12] antoniandre commented on #51
Hi @bribar,
Fixed in version 1.35.3. you can retest your Fiddle (clear cache) and call your `updateEvent` method.

haha from your test I thought that's what you wanted.

[2019-02-20 12:03] antoniandre commented on #50
Hi @johnfraney,
The out of scope events are now showing up and returned in emitted events.
Please check the update example: https://antoniandre.github.io/vue-cal/#ex--events-on-month-view, (and the release notes as always 😉 https://antoniandre.github.io/vue-cal/#ex--events-on-month-view)

Hope it helps!

[2019-02-20 14:28] johnfraney commented on #50
@antoniandre I think we're getting close. It sounds like if I have a list of events from January - March, the recent change will show the out-of-scope events in the month view, which is great.

I listen to the `@ready` and `@view-change` component events to fetch the appropriate calendar events for the active view. I use the dates in that event payload to fetch events in a specific date range. Tha

[2019-02-20 17:05] bribar commented on #51
Awesome! @antoniandre

I was referring to the onEventClick option didn't seem practical because its static. I'm looking for a more dynamic way like what you just fixed. To me onEventClick would be for clicking the event to edit, loading the event data into a modal or something, changing it and then saving.

Anyways, thanks for your hard work!

[2019-02-21 00:36] bribar commented on #51
@antoniandre after updating I get this error. It was all working great prior to update. Didn't change anything.

[Vue warn]: Error in render: "TypeError: Cannot create property 'events-count-month-view' on boolean 'true'"

[2019-02-21 00:46] antoniandre commented on #51
@bribar,
interesting... Can you share your code please?

[2019-02-21 00:55] bribar commented on #51
Sorry @antoniandre must have been a bad install. I re-tried npm install vue-cal and no errors.

False alarm :(

[2019-02-21 00:55] #51 closed

[2019-02-21 00:57] antoniandre commented on #51
No worries, glad it is still fixed! 👌

[2019-02-21 02:15] antoniandre commented on #50
@johnfraney,
Sure, it's already what I do internally. I will update the code soon to return it in payload.

[2019-02-21 04:23] antoniandre commented on #50
@johnfraney,

This is now possible in version 1.37.2, please check the updated example: https://antoniandre.github.io/vue-cal/#ex--emitted-events

In this example, check the month view and get the first cell and last cell dates from `firstCellDate`, `lastCellDate`.

[2019-02-21 14:36] johnfraney commented on #50
@antoniandre Thanks for the quick turn-around! That's exactly what I was looking for.

[2019-02-21 14:36] #50 closed

[2019-02-22 01:37] antoniandre commented on #15
Closing the issue as this is now done.

[2019-02-22 01:37] #15 closed

[2019-02-22 06:46] antoniandre commented on #40
if anyone knows a (short length) translation for 'All day' text for the following languages: **de, es, hr, ka, nl, pl, pt-br, ru, sk, sv, zh-cn**, please contribute that file (in i18n/ folder) or write a comment here!

Thanks! 👍

[2019-02-22 09:15] DuredhelFinceleb opened #54 "All day events in month view"
This is a great calendar component, clean, practical and easy to use!

When using events-on-month-view and show-all-day-events, all day event do not appear on month view.
Is there a way around this?

[2019-02-22 09:19] DuredhelFinceleb opened #55 "Repeating events"
Is there a way to create repeating events?
I can create one event and clone it as needed but this is not very practical and it clogs the dataset with lots of identical events

[2019-02-22 09:26] davidgraeff commented on #55
Have you seen the website / documentation page? There is right at the front the ToDo list of the author and your requested feature is at the very end of that list ("recurring events").

[2019-02-22 11:08] antoniandre commented on #53
Hi @davidgraeff,
I did a good refactoring and will stop here for the big part.
I will keep improving as I develop new features but I am closing the refactoring branch.

- Header is moved into a new component
- Weekday headings is moved into a new component
- Styles are split where it belongs into new components
- Some of the logic is moved into the new components
- The main big file is now down to

[2019-02-22 11:08] #53 closed

[2019-02-22 11:10] davidgraeff commented on #53
Thanks :)

[2019-02-22 11:16] antoniandre commented on #55
Hi @DuredhelFinceleb,
As @davidgraeff mentioned, it is in my todo list but not the priority for now.

You are right, when it will be done it will be counted as a single event when it is extracted from vue-cal.
But internally, the event will still be split into segments on the current view.
So performance wise it will be similar as having duplicate events like you can do now.

For that reason I wil

[2019-02-22 11:23] antoniandre commented on #54
Hi @DuredhelFinceleb,

Thanks for your feedback!
You are right, that's a bug it will be fixed in next version.
Cheers.

[2019-02-22 12:31] DuredhelFinceleb commented on #55
OK thanks for you answer :smiley:

[2019-02-22 12:32] DuredhelFinceleb commented on #54
OK then I'll just wait for the next version then :smiley:

[2019-02-22 12:37] ArjenSwBase commented on #40
For Dutch(nl) it would be "Hele dag"

[2019-02-22 12:54] davidgraeff commented on #40
German: "Ganztätig"

[2019-02-22 13:27] DuredhelFinceleb opened #56 "@event-change emitted when no change occured"
With editable-events in use, when clicking into an event title and clicking out of it without changing it,
@event-change is still emitted. I'm trying to find a way for my app to detect that no change in fact occurred.
I'd like to avoid maintaining a copy of the data just to check if the received event is actually different.
Is there a way around this?

[2019-02-22 13:50] antoniandre commented on #40
Is there a shorter word or multiple shorter words to fit it in small cell?
I don't want to truncate words but I can display on up to 3 lines.
Would "den ganzen Tag" be a correct translation as it fits on 3 lines?

![image](https://user-images.githubusercontent.com/22971289/53246458-e30a2300-3704-11e9-807b-a79e0f170cf5.png)

[2019-02-23 01:05] antoniandre commented on #54
Hi @DuredhelFinceleb, this is now fixed in version 1.38.0, please refer to the updated example: https://antoniandre.github.io/vue-cal/#ex--all-day-events

Hope it helps solving the issue.

[2019-02-23 15:14] karelbyte opened #57 ""can't assign to property "events-count-month-view" on true: not an object""
Hello, for no apparent reason, because I have not made any changes, I began to arrogate this error, even though I'm not working with anything like this https://antoniandre.github.io/vue-cal/#ex--events- indicators-on-month-view, can any suggestion be this ?, I show you my component configuration
<vue-cal
                    :time="false"
                    style="height: 95vh"

[2019-02-24 17:19] DuredhelFinceleb commented on #57
I have the same issue. I'm not sure that this is vue-cal related though
I'm too recent in the node.js world to know if my vue package was updated (at least nuxt wasn't) but I've fixed the issue by modifying my node_modules/vue/dist/vue.runtime.esm.js into funtion resolveScopedSlots line 2717:
res = res || {};
by
res = (res && typeof res=="object") ? res : {}

There are tons of vue files with that

[2019-02-24 17:22] DuredhelFinceleb commented on #54
Thanks a lot, it works ! :smiley:
You might want to have a look at #57 as I had that issue. I've solved it by modifying my vue module but I'm not sure this is they way to go as I'm too new into the node.js world (afaik my update will go away with the nuxt update?)

[2019-02-24 18:11] karelbyte commented on #57
thanks for the comments, the detail is that I do not use node_modules my component load is like this
<head>
   ...
   <script src = "https://unpkg.com/vue"> </ script>
   <script src = "https://unpkg.com/vue-cal"> </ script>
   <link href = "https://unpkg.com/vue-cal/dist/vuecal.css" rel = "stylesheet">
</ head>, I would like to be able to solve it as you tell me but I think there is no way, unles

[2019-02-24 19:44] DuredhelFinceleb commented on #57
download the link https://unpkg.com/vue with your bowser / curl / wget / your favorite tool
the link is a redirect to https://unpkg.com/vue@2.6.7/dist/vue.js
Save the file and edit it. Search the line
res = res || { $stable: !hasDynamicKeys };
and replace it with
res = (res && typeof res=="object") ? res : { $stable: !hasDynamicKeys };
An then put the modified file on your server. Your script tag

[2019-02-24 23:29] antoniandre commented on #57
Hi @karelbyte, @DuredhelFinceleb,

There is indeed a bug I am investigating on. Sorry for that.
Started to break from version 1.35.1 & 1.35.3. As it works in my environment and my documentation I suspect it is a package dependency update causing the issue.

Will let you know soon.

[2019-02-24 23:54] antoniandre commented on #57
Ok, I don't know what happened lately but I just published a new version and the issue is gone.
Please use version 1.38.1 and let me know if you still have issues.

[2019-02-25 10:28] davidgraeff commented on #40
"Den ganzen Tag" works but would be unusual in a calendar context. What you can do is split the suggested word: "Ganz- tätig" into two lines. But generally you might have that problem with other languages as well.

[2019-02-25 10:32] ArjenSwBase commented on #40
You would have to ask yourself, is it really required to state that it is for all day events. If you take a look at google calendar, you will see that they don't state it, they just show your timezone.

The calendar on mac does state it. But is it really necessary?

[2019-02-25 11:00] DuredhelFinceleb commented on #57
the issue is gone with 1.38.1 👍

[2019-02-25 15:51] karelbyte commented on #57
perfect, thanks for fixing the problem fast :)

[2019-02-27 06:50] #57 closed

[2019-02-27 06:52] antoniandre commented on #54
Great, closing this solved issue then.
Please follow up in #57 for your last request.

[2019-02-27 06:52] #54 closed

[2019-02-27 06:54] antoniandre commented on #40
Thanks @davidgraeff, I will change that in next release then.

[2019-02-27 07:13] antoniandre commented on #56
Hi @DuredhelFinceleb, I understand your point.
Currently vue-cal triggers an event-change on title-blur or resizing end, it will also be triggered when dragging and dropping an event in the future.

Checking if a change really occurred means internally having a copy of the original data - as you want to avoid - and comparing before emitting event.
I mark this as a feature request and will have a c

[2019-02-27 10:51] DuredhelFinceleb commented on #56
Great. In the meantime, I'll use a copy of the original data and I'll adapt my code when the feature will be available

[2019-02-27 11:18] DuredhelFinceleb opened #58 "overlapping events on month view"
on month view when using events-on-month-view and you have overlapping events, they are not correctly displayed
no-event-overlaps has no effect on this issue

if you have this in the week (or day) view:
![image](https://user-images.githubusercontent.com/9292585/53485599-e8f66000-3a86-11e9-84da-28a479da25ba.png)

you get this in the month view
![image](https://user-images.githubusercontent.com/9292

[2019-02-28 03:57] lllito opened #59 "how to get the date info by use event-render slot on month view"
Hi~
first apologize for my poor englist

my question is  how to get the date info by use event-render slot on month view

this is my code
` <vue-cal @day-focus="dayClick" >
          <div slot="event-renderer" slot-scope="{ event,view}">
            //how to get the date info in this event ?
            <div class="vuecal__event-title" v-html="event.title" />
          </div>
</vue-cal>`

[2019-02-28 04:11] lllito commented on #40
zh-CN:"整天"

[2019-02-28 07:11] DuredhelFinceleb commented on #59
the date info should be into event.startDate and event.endDate
if you want the full date time this will be event.start and event.end (if time is false or your event is an all day one (ie event.allDay=true) then event.start/end are the same than event.startDate/endDate)
and time info is into event.startTime and event.endTime

so to display the start and end dates into your slot you would have somet

[2019-02-28 07:14] DuredhelFinceleb commented on #59
note that if you have set time to false, you'll have to use an other class because vuecal__event-time won't be available. See https://antoniandre.github.io/vue-cal/#ex--custom-event-rendering

[2019-02-28 09:16] antoniandre commented on #59
Hi @lllito,

@DuredhelFinceleb, gave a good example that you can follow. 👌

To help you out here is a Codepen with what you want: https://codepen.io/antoniandre/pen/jJbygw?editors=1010
____

To set custom event rendering please refer to this example: https://antoniandre.github.io/vue-cal/#ex--custom-event-rendering.
Now in this example, events are not displayed on month view, so you will need to a

[2019-02-28 09:26] antoniandre commented on #58
Hi @DuredhelFinceleb,
That's right there is something to fix, I'm on it.
Thanks for noticing.

[2019-02-28 10:19] antoniandre commented on #58
Fixed in version 1.38.4.
Please note that if you still encounter the error #57, you probably have to upgrade your Vue version: https://github.com/vuejs/vue-hot-reload-api/issues/73

[2019-02-28 10:19] #58 closed

[2019-02-28 10:21] antoniandre commented on #57
FYI if this issue comes back: It seems that it is a bug from Vue: https://github.com/vuejs/vue-hot-reload-api/issues/73

[2019-03-01 02:00] lllito commented on #59
thanks  so much

[2019-03-04 03:18] antoniandre commented on #59
👌 Closing the issue then.

[2019-03-04 03:18] #59 closed

[2019-03-07 06:58] gavinchua opened #61 ":on-event-click="onEventclick" is not working"
Project:
https://codesandbox.io/s/61kz580p6k

Events had been populated but the :on-event-click="onEventclick" is not working.

[Vue warn]: Property or method "onEventclick" is not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option, or for class-based components, by initializing the property. See: https://vuejs.org/v2/guide/rea

[2019-03-07 10:25] antoniandre commented on #61
Hi @gavinchua,
I tried your example, and noticed the typo `onEventclick ` creating a mismatch with method name, you must have copy pasted from my documentation that has the same typo 😅
I am on the way to correct it!

[2019-03-07 13:27] ArjenSwBase opened #62 "Create event at cursor position - on cell click and hold"
Hello @antoniandre,

I am looking for functionality that does the following:
When double clicking on a day (In week view) I want an event to trigger that tells me the date and time where you clicked. Currently the @day-focus event gives you a date but not a time, its also only double click. The time doesn't have to be minute perfect, can be rounded to the nearest 15 minutes or so.

Could you make

[2019-03-08 00:10] antoniandre commented on #62
Hi @ArjenSwBase,
Are you looking for this feature in order to create an event?
If so I am very close to releasing the event creation feature where you click and hold a cell and it will create an event starting at cursor position.

If this is not what you are looking for, I can help you do the calculation to get the exact time from the cursor position, this is what I do here: https://github.com/ant

[2019-03-08 02:15] gavinchua commented on #61
Hi @antoniandre,
How could I have missed that typo. Thanks for the quick respond. It's all working good now.
You're awesome! 👍
God blessed!!

[2019-03-08 02:15] #61 closed

[2019-03-08 03:31] antoniandre commented on #61
Thanks for your enthusiasm @gavinchua! 😉

[2019-03-10 13:35] antoniandre commented on #56
Hi @DuredhelFinceleb,
This is now fixed in version 1.40.3

[2019-03-10 13:35] #56 closed

[2019-03-11 08:28] ArjenSwBase commented on #62
Hi! Sorry for the late reply,

Yes, this is indeed for event creation. But the event creation in our system is in a new page.
With the event creation feature you are releasing soon; could you make it so that there is a new event I can use for when the person clicks and holds?

[2019-03-11 12:13] nandi95 commented on #28
Hi @antoniandre
I'm not creating a new issue as this might be connected but when I'm displaying 2 simultaneous events I have this warning (the functionality still works fine at this point):
[code]
However if I have 3 overlapping events I have an error and no event displays:

[code]

[2019-03-12 17:37] lherreranetlink opened #63 "Hide Dates before than today"
Is there a way where **vue-cal** doesn't let the user  pick a date before than this moment?
For example, Today's March 12th. 2019. I'd like the user wouldn't be able to pick 2018 as year or even February of the current year.

Thank you, I'd appreciate your answer.

[2019-03-12 22:22] antoniandre commented on #63
Hi @lherreranetlink,
There is currently no way to do that. But now that you raise the point this is a great feature to add and I will work on that soon.

[2019-03-14 00:21] elliottross23 opened #64 "Events not rendering with vue version 2.5.17"
**Vue Version:** 2.5.17, generated project with vue cli 3.

I'm trying to do a simple example to get going but events aren't rendering. I'm copying and pasting the custom events render code like this:

[code]

My event data
[code]

The event just shows up as a gray block....

<img width="1131" alt="Screen Shot 2019-03-13 at 8 19 43 PM" src="https://user-images.githubusercontent.com/7434153/5432292

[2019-03-14 00:24] RoscaS commented on #64
Same here

[2019-03-14 00:36] antoniandre commented on #64
Hi @elliottross23,
This will be fixed with a Vue.js update to at least 2.6.7.
I will look further into this issue later today.

[2019-03-14 01:21] elliottross23 commented on #64
@antoniandre upgrading fixed the issue. Do you want me to leave it open for 2.5.x? I updated the title to be specific.

[2019-03-14 01:29] antoniandre commented on #64
Thank you @elliottross23, yes please leave it open.
I have experienced a couple of issues from late vue 2.5.x to 2.6.6 (like #57), I will probably wrap up a working version of vue-cal for vue < 2.6.7 and create a new vue-cal@2.0.0 for vue 2.6.6+

[2019-03-14 10:35] antoniandre commented on #64
Hi @elliottross23, @RoscaS,
I have released version 1.40.4 of vue-cal which is compatible with **Vue.js version 2.5.18 or above**. vue-cal's documentation now states it.

For information, Vue@2.5.17 has an issue here: https://github.com/vuejs/vue/issues/8587.

[2019-03-14 10:35] #64 closed

[2019-03-14 10:59] antoniandre commented on #62
Hi @ArjenSwBase,
I am now going through tests with this feature.
This will indeed create a calendar event at cursor position on click and hold of a cell as well as emit a DOM event that you can listen to.
This emitted event passes the calendar event object so you can modify it and pass it back.
Feel free to test it on `create-event-feature` branch (Editable / deletable events example).

Will let y

[2019-03-14 11:09] elliottross23 commented on #64
@antoniandre Great quick response and great library! Thanks!

[2019-03-17 09:35] antoniandre commented on #28
Hi @nandi95, sorry I missed your comment here. Do you mind giving me your code using vue-cal or a reproduction link please?

[2019-03-17 10:57] nandi95 commented on #28
Hi @antoniandre,
sample of what I'm passing to the component:
`(3) […]
​
0: {…}
​​
allDay: false
​​
background: false
​​
content: "content"
​​
contentFull: "<h2>Beginning of an epic...</h2>"
​​
end: "2019-03-17 06:00:00"
​​
event_type: Object { id: Getter & Setter, color: Getter & Setter, … }
​​
event_type_id: 3
​​
icon: "fas fa-comment-alt"
​​
id: 13
​​
split: 0
​​
start: "2019-03-17 05:00:00"
​​

[2019-03-18 20:21] KacperPucek commented on #28
Hi @antoniandre, first of all - REALLY cool lib! Thanks a lot ❤️

I'm struggling with the same issue as @nandi95, it seems that
it crashes when we have overlapping events and `id` in event.
When I remove `id` key from data, it runs alright.

I don't have a fix but I thought I'd mention that anyway as it might
point you in the right direction if you decide to tackle this :)

[2019-03-19 02:54] antoniandre commented on #28
Hi @nandi95, @KacperPucek,
First off, thanks for your feedback @KacperPucek I appreciate it.
And thanks for giving me a track. I can't seem to reproduce the issue, but I will refactor the events overlapping system to handle more simultaneous events anyway as the error comes from this.
The logic will change and it should solve the current issue.

I am starting this ASAP.

[2019-03-22 08:53] gavinchua opened #68 "Does this calendar work with Vuex?"
Hi @antoniandre, does this calendar work with Vuex?

[2019-03-22 15:01] gavinchua commented on #68
It's working now. :)

[2019-03-22 15:01] #68 closed

[2019-03-22 19:27] tarreislam commented on #28
Youre doing a Great job!

[2019-03-23 14:19] aocneanu opened #70 "Possible bug when clicking on a multiple day event"
Hello,

Congrats for what you've done with this lib!

I'm looking forward to have vue-cal fully integrated with my OSS project.

While playing with multiple day events I'm getting an inconsistency when using `on-event-dblclick`.

![image](https://user-images.githubusercontent.com/16073274/54867275-251b9880-4d87-11e9-878d-57ff7fabd75f.png)

Notice the id of the logged event

![image](https://user-i

[2019-03-24 01:21] antoniandre commented on #70
Hi @aocneanu, thank you for your feedbacks!
Well this is because the `id` attribute is a reserved attribute for the internal identification of events.
So the id that you first set is overridden by internal process.
For now you can fix this by using another key instead of `id`.

But as you point it out, it makes sense to keep this key available for end user and internally use another key name that

[2019-03-24 20:24] aocneanu commented on #70
Ah cool, thanks.

Could you provide some insights about how you’re planning to handle recurring events, if it’s not too soon? I saw that it’s on the roadmap.

[2019-03-25 12:23] antoniandre commented on #70
Hi @aocneanu, from version 1.43.1 the event `id` key is now available for use by everyone.
Hope it solves your issue.

Regarding the recurring events, it will behave very similarly to multiple-day events:  https://antoniandre.github.io/vue-cal/#ex--multiple-day-events
So you will have this event listed only once in your array of events with the attribute `recurring`,
and it will probably accept an

[2019-03-25 12:57] antoniandre commented on #28
Hi @nandi95, @KacperPucek, I have started the refactoring of event overlaps but it's not going to be released soon as it's a very complex problem to calculate width and left offset of all simultaneous events.

So I am more concerned about fixing the issue at stake for now.
As pointed by @KacperPucek the issue might be related to the use of the `id` key which is reserved for internal identification

[2019-03-25 13:12] nandi95 commented on #28
@antoniandre yes, when not passing an id it works without a warning or error.
Perhaps it would be a good idea to make a note in the docs that the eid is a reserved word or use some obscure string like "r8xfQOBsWf".
Keep up the good work, it's an awesome library.

[2019-03-25 16:41] TheJaredWilcurt opened #71 "Bug: startWeekOnSunday then change to following week breaks calendar"
## Example Reproduction:

* https://jsfiddle.net/qu07c3st

## Steps to reproduce:

1. Enable `:startWeekOnSunday="true"`
1. Change the view to go to the next upcoming week

**Expected:**
* Days and events for the following week will be displayed accurately

**Actual:**
* Days shift over by one day.
* Clicking again shifts them over 7 days.
* The day of the week is now wrong (Today is Monday the 25

[2019-03-25 19:05] aocneanu commented on #70
Hope it solves your issue.

That's great, thank you.

About recurring events I will wait until "the time comes" :)

[2019-03-25 19:05] #70 closed

[2019-03-25 22:31] antoniandre commented on #71
Hi @TheJaredWilcurt, thanks for reproduction link, I am fixing this asap.

[2019-03-25 22:51] antoniandre commented on #70
I will update the documentation to warn that the `eid` key is taken. :)

[2019-03-25 22:55] antoniandre commented on #28
@nandi95 glad to know it came from that too, it is now fixed (#70).
you're right, I will update the documentation to warn that the `eid` key is taken.

[2019-03-26 05:24] aocneanu opened #72 "Feature Request: readonly attribute"
Events could have an individual `readonly` attribute.

When this attribute is set to `true` the delete button / edit title / resize should not be available.

[2019-03-26 12:58] Kirich11 opened #74 "Fix calendar height"
In day and week views the schedule is cut by the container height, which is supposed to be set to display year and month views correctly as said in the documentation.

The bug can be seen in the examples itself
![4](https://user-images.githubusercontent.com/18256217/54998738-ecc2c700-4fdf-11e9-82ab-ced6307d5717.png)

[2019-03-26 13:10] Kirich11 commented on #74
The actual workaround is to set not the height property for the container, but set the min-height for the calendar

https://jsfiddle.net/76hp053m/1/

Should be mentioned in the documentation and fix the examples, please)

[2019-03-26 13:47] antoniandre commented on #74
Hi @Kirich11, I'm sorry but I don't understand the issue, maybe I cannot reproduce it.

Just to be on the same page, what is expected is that the timeline and content are scrollable vertically within the calendar body.
If that is not scrollable for you, can you please let me know your browser and OS.

[2019-03-26 13:54] Kirich11 commented on #74
Thank for such quick reply!

Browsers:
- Google Chrome 73.0.3683.75 64 bit
- Mozilla Firefox 66.0.1 64 bit
OS: Ubuntu 18.04

The content inside the calendars is indeed not scroblable. Doesn't it replicate in this here for you: https://antoniandre.github.io/vue-cal/ ?
Or maybe I'm looking at an old version?

[2019-03-26 14:09] antoniandre commented on #74
No, this is definitely scrollable on that page at this time, and probably for all the users not complaining haha.
Please check your browser cache in case, and also check this codepen example: https://codepen.io/antoniandre/pen/rPzWOJ, where you should be able to scroll until midnight.
Also make sure that you are hitting the latest version of vue-cal in unpkg from the javascript pane settings. when

[2019-03-26 14:18] Kirich11 commented on #74
This feels weird

I've recordered a video with the issue on your codepen example. Here you can see the issue
https://www.useloom.com/share/29f52cb99526450ab83bc577a11476c4

[2019-03-26 20:18] AndreasHansson1 commented on #74
Im having the same issue

[2019-03-26 22:59] antoniandre commented on #74
@Kirich11, @AndreasHansson1,

Thanks for pointing this out, I have introduced a regression lately and it was still showing well on my machine, on Mac.
So fortunately you reported it.

Fixed in version 1.43.2, let me know if you still have an issue.

[2019-03-27 11:48] Kirich11 commented on #74
@antoniandre
Just checked the codepen you provided (https://codepen.io/antoniandre/pen/rPzWOJ). Seems to be fixed!

[2019-03-27 15:10] #74 closed

[2019-03-27 22:22] antoniandre commented on #72
Hi @aocneanu, That makes sense in some cases. I will add it to my list. Thanks.

[2019-03-28 13:56] ortuagustin opened #76 "Feature Request: Add slot on per cell month-view"
Thank you for this great library

Currently, we can use `event-renderer` slot to customize the event display; but we cannot customize the cell, specifically, on the month view. My use case would be add a button, per cell, to add/edit events on the selected day (cell). The buttons would be toggled visible using day-focus events

Is there any chance to add a slot for the day (cell), on the month-vie

[2019-03-28 17:35] MidnightP opened #77 "Separately enable either of features: delete / dragging the handle / editing title"
Hi!

Really love the module so far.

I was wondering. The features delete / dragging the handle / editing title are currently these features are all controlled with one and the same variable, `editableEvents`. Will it be possible in the future to separately enable either of the features delete / dragging the handle / editing title?

[2019-03-28 17:39] MidnightP opened #78 "Extremely long event"
Hi

Still loving the module.

As a default event that is always in the background I wanted to display a background event with a huge duration. Let's start time 100 years ago and end time 100 years from now. I've noticed that doing this will crash the tab in my browser. Seems it has a hard time rendering.

I will try to find a way to add a `repeating-linear-gradient` to the original background, ins

[2019-03-28 17:46] MidnightP opened #79 "View general week, not calender week"
Hi

Still loving this. Sorry if I'm spamming.

I'd love to use the calendar for creating a general week schedule. That means I need to disable all the periods except the "week" period, of course. Furthermore, I need to somehow disable all dates in general.

Any suggestion on how this could be best done?

[2019-03-28 23:04] antoniandre commented on #76
Hi @ortuagustin, thanks for feedback.
I was initially not thinking about allowing cell customization as it adds a lot of complexity to use and would be easy to break the render.

But a compromise that would would probably suffice would be a free content slot before events and/or after events. I am adding it to my todo list 👌

[2019-03-28 23:06] antoniandre commented on #77
Hi @MidnightP, thanks for feedback.
Definitely. If there are such use cases, then it should be possible.
I will do it soon 👌

[2019-03-28 23:12] antoniandre commented on #78
Hi @MidnightP,
I will have a look into this to see if we can improve the event segmenting performance-wise.
Do you mind creating a codepen for this with your style in there?

[2019-03-28 23:24] antoniandre commented on #79
Hi @MidnightP,

haha. No worries 😅

You need to disable all the views but week, hide the view selector and hide the navigation arrows.
By default the **current week** view is shown without parameters so even easier.

[code]

Then hide the arrows from CSS, there is no performance impact for the arrows to be only hidden and still in the HTML.

[2019-03-29 09:24] ArjenSwBase commented on #62
Hey @antoniandre

I finally had some time to checkout the create-event-feature branch. And I couldn't figure out how to trigger the create event events.

[2019-03-29 10:42] ArjenSwBase commented on #62
Hey @antoniandre
I figured it out! I had to put events-editable to true.

Anyway, I found some things you might wanna look at before releasing this feature:

`end: "2019-03-2712:6"`
`endTime: "12:6"`

The formats are not really how you would want them. (Same counts for start, startTime)

This is how you probably would want it.
`end: "2019-03-27 12:06"`
`endTime: "12:06"`

endDate is also seen as a

[2019-03-29 15:08] MidnightP commented on #78
[code]

[2019-03-29 15:23] pimvanderheijden opened #80 "Disable intersecting events (feature request)"
In addition to the `no-event-overlaps` option, it would be awesome to have the possibility of disabling intersecting events altogether. Is that an idea?

To be clear, I'd like to drag events and create new ones, but never allow any intersection between them. Not sure yet how this would behave but I'm sure it will very useful.

[2019-03-29 15:28] MidnightP opened #81 "Always show delete option"
Hi!

Would it be an idea to always show a delete cross in top right / left of an event?

The mouse down approach for showing the delete button is cute but not obvious if you ask me.

Cheers!!

[2019-03-29 17:14] Kirich11 opened #82 "[Feature Request] Add onDateClick event"
Could it be possible to add a event that fires when date is clicked instead of day-focus?
That way it would be more convinient to build components logic around user interactions with the calendar.

 E.g. the user clicked a date, some modal has opened, user closed the modal, forgot smth, and clicks the same date to open the modal again, but because the date is already focused day-focus won't be fir

[2019-03-30 11:22] antoniandre commented on #71
Hi @TheJaredWilcurt, Fixed in version 1.44.1 (your link works now), sorry about that.

[2019-03-30 11:22] #71 closed

[2019-03-30 11:43] antoniandre commented on #80
this is a feature that will come later, I shall update the todo list and put it after drag and drop.

[2019-03-30 11:53] antoniandre commented on #81
Hi @MidnightP,
This is something you can do with a CSS rule.
When events are editable, the delete button is in the event HTML, with some style applied.
If you want to reposition it, just remove the default `transform: translateY(-110%)` property.
The delete button will still be clickable.
Hope it helps.

[2019-03-30 11:53] #81 closed

[2019-03-30 12:34] antoniandre commented on #82
Hi @Kirich11,
That makes sense. I have added the emitted event `day-click` in version 1.45.0.
Please refer to the documentation: https://antoniandre.github.io/vue-cal/#ex--emitted-events

[2019-03-30 12:34] #82 closed

[2019-04-01 10:20] Kirich11 commented on #82
@antoniandre thank you very much!
awesome!

[2019-04-01 15:17] TheJaredWilcurt opened #83 "Publish releases on GitHub"
Most npm packages will publish a release on both GitHub and `npm`. This is super helpful as it lets users see exactly when a release occurred so they know what code went out with that version (features/bug fixes).

I had a recent bug report that was fixed and a release occurred around the same time, but the bug fix wasn't mentioned in the `README.md`, so I had to find the closed, find the [code ex

[2019-04-01 16:36] KacperPucek commented on #28
Thanks for a lot for the hard work and fixing the issue @antoniandre 🏆

[2019-04-01 23:24] antoniandre commented on #62
Great thanks for pointing it out, I will have a look and fix this.
I also found a bug that delays the release.
But in the meantime, the best example to try to see the creation behavior is this one: `#ex--editable-deletable-events` where I create a modal to set the event title content and class.

[2019-04-02 21:07] AndreasHansson1 opened #84 "Event interaction not working"
Hi.
My :on-event-click does not working anymore. Not the css either `.vuecal__event {
  cursor: pointer;
}`. It worked just fine earlier today.
Any clue?

Best
/Andreas

[2019-04-02 21:11] AndreasHansson1 commented on #84
Oh, i´ve solved it. Never mind

[2019-04-02 21:11] #84 closed

[2019-04-03 07:34] aocneanu opened #85 "Feature Request eventCount on Year view"
Having an event count (per month) on year view similar to the count displayed on the month view would be great.

[2019-04-05 01:20] kylecueters opened #86 "Making a separate calendar view changer button."
Is there a way I can make a separate button to change my calendar view? I removed the default view selector for customization purposes. Is there a way I can make it? Thanks.

[2019-04-05 01:54] kylecueters commented on #86
Never mind I solved it using vue refs. Using the switchView method and passing a view string. For example.

[code]

[2019-04-05 01:54] #86 closed

[2019-04-05 04:59] antoniandre commented on #83
Hi @TheJaredWilcurt,

Thanks for letting me discover the releases feature on Github! 😅
I was already tagging my work in NPM so I could easily recover all the past tags to push them on Github.

You can now find the history here: https://github.com/antoniandre/vue-cal/releases

I am not going to document the tags in Github though, as I have an up to date release notes in my documentation: https://an

[2019-04-05 05:35] antoniandre commented on #76
Hi @ortuagustin,

I have added the ability to customize cells in version 1.46.0. Please refer to this example: https://antoniandre.github.io/vue-cal/#ex--custom-title-and-cells

Hope it helps!

[2019-04-05 06:25] antoniandre commented on #86
Very good @kylecueters. 👌
I would have suggested the same. I will probably add such example in documentation soon.

[2019-04-05 07:30] kylecueters commented on #86
Thanks @antoniandre! Great package anyway! 😃

[2019-04-08 00:51] #83 closed

[2019-04-08 01:35] antoniandre commented on #79
Closing for inactivity, please reopen if not solved.

[2019-04-08 01:35] #79 closed

[2019-04-09 08:08] pramod-diatoz opened #87 "Horizontal Timeline View"
Hi @antoniandre ,
The package is very good and fit my exact requirement. Great Work 👍
It would be more helpful, if we have an option to change the orientation. For example currently the time appears in the left side and the days comes at the top in week and day view. Can it be toggled so that the time slots comes on the top and the weekdays comes on the left, so that the events will be horizontal

[2019-04-09 23:44] antoniandre commented on #87
Hi @pramod-diatoz, thanks for your feedback.
This is certainly helpful yes, I am adding it to the bottom of my to do list!
Unfortunately I have a few other feature requests to implement first.

[2019-04-10 06:36] antoniandre commented on #85
Hi @aocneanu, this is now a feature in version 1.47.0,
Please refer to this example: https://antoniandre.github.io/vue-cal/#ex--events-indicators
And this one if you want custom calculations: https://antoniandre.github.io/vue-cal/#ex--custom-events-count.

Hope it helps!

[2019-04-11 20:44] vitorhugosg opened #89 "Overlapping not working"
Hello, good. First of all, I thank you for this super tool.

To with a doubt, in the documentation, I saw that it has an overlapping, however when I put more than one event at the same time, one event is over the other, it follows code:
<vue-cal

          v-if="!loader"
          :locale="'pt-br'"
          :events="calendario"
          :show-all-day-events="true"
          :disable-views="['yea

[2019-04-11 23:41] antoniandre commented on #89
Hi @vitorhugosg, thanks for your feedbacks.

Are you trying to prevent overlaps? Currently Vue Cal, does not prevent simultaneous events, but is has the ability to display side by side in same cell or in overlapping manner.
Follow this example and try toggling the button to see the difference: https://antoniandre.github.io/vue-cal/#ex--overlapping-events

Otherwise, your code looks good for that p

[2019-04-11 23:47] antoniandre commented on #76
Please have a look when you have time @ortuagustin, closing this issue for now.
You can reopen if something is not right!

[2019-04-11 23:47] #76 closed

[2019-04-12 16:19] vitorhugosg commented on #89
Hello, thank you very much for the answer.
So I tried with true, or false in the "no-event-overlaps" directive, but without success, in my case I want to show an event next to the other, know how I can proceed, only css that I put was the colors of the events.

[2019-04-13 02:17] antoniandre commented on #89
Hi @vitorhugosg,
Here is another example for you to try: https://codepen.io/antoniandre/pen/eoEgqo.
You can change the value in the html line 7: `:no-event-overlaps="true"` to true/false to understand what it changes, this is only changing the way 2 simultaneous events are displayed, overlapping or not.

I suggest you do your tests in this started codepen, and if you still have question you can gi

[2019-04-15 06:54] nature-li opened #91 "Event time info not showing when event starts at midnight"

[2019-04-15 12:24] webdeluxe opened #92 "Split Vue Cal timeline in 2: from 10 to 13 and from 14 to 17"
Hi can you help me, Im using Vue cal.
I need time from 10 to 13 and from 14 to 17.
Is it possible ?

[2019-04-15 12:42] antoniandre commented on #62
Hi @ArjenSwBase, the event creation feature is out!
Please refer to these examples:
- https://antoniandre.github.io/vue-cal/#ex--edit-delete-create-events
- https://antoniandre.github.io/vue-cal/#ex--more-advanced-event-creation

Please close the issue if working as expected.

[2019-04-15 12:54] antoniandre commented on #92
Hi @webdeluxe,
Sorry but this is not possible and won't be in the future in a single event calendar.

But good news, what you can do is something like this https://codepen.io/antoniandre/pen/KYXjQq.
When it comes to interactions, if you need any, you will need to sync the 2 instances, like in this example https://antoniandre.github.io/vue-cal/#ex--sync-two-calendars

But what I recommend is that y

[2019-04-15 12:59] antoniandre commented on #91
Hi @nature-li,
Please share your code and develop your question.
I don't know what you are talking about right now.

[2019-04-15 15:35] nature-li commented on #91
Hi @antoniandre ,
Sorry for the unclear issue. I mean when I make time-from = 0,  time-to = 24 * 60, time-step=30, time=true. And I have 48 events every 30 minutes in a whole day.  In the week view I expect I can get 00:00 - 00:30 in the first row, 00:30 - 01:00 in the second row,  01:00-01:30 in the third row. **But the first row is empty**. From the second row on, it works like 00:30 - 01:00, 01

[2019-04-16 05:00] antoniandre commented on #91
Hi @nature-li,
Thanks for reporting this bug.
I have fixed it in version 1.50.3
Here is a working codepen after fix with the initial same issue you reported.
https://codepen.io/antoniandre/pen/gyXdar?editors=1010

Hope it helps. Please close if solved.

[2019-04-16 07:05] nature-li commented on #91
Hi @antoniandre,
I installed the 1.50.3 version and it works for me. Thank you fix the bug.

[2019-04-16 07:05] #91 closed

[2019-04-16 08:43] GeorgiNiagulov opened #93 "How to get selectedDate info for searching in db?"
Hi @antoniandre,
thanks for this calendar. Sorry for my English.
 I need to get selected date and search with this date in db to get info from there.
 This is my code
[code]
[code]
Thanks for answer.

[2019-04-16 08:54] nature-li opened #94 "create event at mouse coords on cell simple click"
Hi @antoniandre ,
I want to create an event when I click an no-event cell but not hold a cell. could you add a cell-click callback to the vue-cal, like @cell-click=onCellClick? the callback paramter include the begining time of a cell but not the time specified by the cursor position.

I saw the document at # Edit, delete & create events. But I don't want to make a cell editable and I must hold th

[2019-04-16 11:34] vks-financial-com opened #95 "Hide the first full week of the next month"
I totally need to remove the last row in the month view, which is a full week of the next month, which is currently always visible. Any way to do it? I couldn't find any feasible workaround, as there are no real row elements in the dom-structure, so that they could get hidden by CSS.

[2019-04-16 13:43] nature-li opened #98 "month view show the last redundant row"
all month view  in the https://antoniandre.github.io/vue-cal/ show the last redundant row. every day int the last row is not belong the current month. Is it a bug or a design?

[2019-04-16 15:29] TheJaredWilcurt opened #99 "BUG: @ready no longer returns evt.view ('month', 'week')"
**Example:**

* https://jsfiddle.net/qavgc5jy/

That code works fine with Vue-Cal `v1.45.0`. At some point between `1.45.0` and `1.50.3` this broke.

[2019-04-16 23:34] antoniandre commented on #99
Hi @TheJaredWilcurt,
Thanks for reporting, this is fixed in version 1.50.4

[2019-04-16 23:34] #99 closed

[2019-04-16 23:39] antoniandre commented on #98
Hi @nature-li,
This is by design.
For instance if you go to September 2019, or July 2018, some days are overflowing on that row.
We don't want to switch to another year and have a different number of rows that would look broken and not smooth.

[2019-04-16 23:39] #98 closed

[2019-04-16 23:45] antoniandre commented on #95
Hi @vks-financial-com,

Unfortunately we don't want to remove that last row for the reason I explained here: https://github.com/antoniandre/vue-cal/issues/98
Some months have days on that row.

You should not remove that row neither, if you can navigate through dates and if your view is dynamic you should allow 6 possible rows.

[2019-04-17 00:33] antoniandre commented on #92
I have update the example adding syncing between 2 instances, but still recommend a line of background events.

[2019-04-17 00:33] #92 closed

[2019-04-17 00:35] kylecueters opened #100 "Add click events on weekday headings in week view"
I'm trying to add click events on the weekday heading in week view. What I'm trying to do is when the user clicked or maybe dblclicked on a weekday heading it will then be redirected to a day view on that particular date the user clicked.

[2019-04-17 05:41] antoniandre commented on #93
Hi @GeorgiNiagulov,
Thanks for your feedback.
This is how to fetch events for the current view: https://codepen.io/antoniandre/pen/rbpPab

You should use the `view-change` event for this as you always want all the events of the whole view.
The `view-change` event is emitted every time you change view, including previous and next arrows, title click, cell click, and view selector view click.

[2019-04-17 05:48] antoniandre commented on #94
Hi @nature-li,

Currently there is no possibility to get the cursor position in cell-click event. I will add it in a next release.

The cell-click event is called `day-click`. Refer to this: https://antoniandre.github.io/vue-cal/#ex--emitted-events

This emitted event will be renamed into `cell-click` very soon as I introduce the ability to get events on cell click in `years` and `year` views as w

[2019-04-17 15:52] gavinchua opened #101 "Event title error in version 1.52."
Hi @antoniandre ,

https://codesandbox.io/s/0q7m7r026v
Vue 2.6.10
The above code is working in version 1.49 but is not working in version 1.52.
[code]
vuecal__cell-events is empty.
The console is not logging any JS error.

Not sure if its due to slots.

Please advice. Thanks.

[2019-04-18 01:06] antoniandre commented on #101
HI @gavinchua,
Thank you for reporting this bug.
This is fixed in version 1.52.2

[2019-04-18 01:06] #101 closed

[2019-04-18 05:57] antoniandre commented on #100
Hi @kylecueters,
I just released that new feature in version 1.53.0.
It has the same behavior as the cells.
**Only on week view:** a click on a heading selects the cell, and it will react to the options `dblClickToNavigate` and `clickToNavigate` to go to narrower view if allowed to.

Hope it helps.

[2019-04-18 13:04] vks-financial-com commented on #95
No I mean the calendar should allow to disable the last row, if there are no days of the current month in that row. In my case it's just useless white space as I hide all dates which do not belong to current month per CSS.

[2019-04-19 04:41] antoniandre commented on #95
Hi @vks-financial-com,
Ok if you have reasons to do it no worries.
To hide all the cells of next month it is as simple as that:

[code]

(Fully supported since IE9)
You don't even need to target month view since the `.out-of-scope` class only appears on month view.

[2019-04-19 04:41] #95 closed

[2019-04-19 04:47] antoniandre commented on #98
issue #95 is similar, I answered a way to remove the cells from next month if you have reasons to do it:
[code]

[2019-04-19 04:48] antoniandre commented on #89
Closed for inactivity. Please reopen if not solved.

[2019-04-19 04:48] #89 closed

[2019-04-19 14:41] antoniandre commented on #63
Hi @lherreranetlink,
I just released the min and max dates feature in version 1.54.0.
Please refer to this example: https://antoniandre.github.io/vue-cal/#ex--min-max-dates

Hope it helps.

[2019-04-20 01:35] anhnguyenpku opened #102 "add default-view for 2 day, 3 day, 4 day..."
add default-view for 2 day, 3 day, 4 day...

[2019-04-21 13:47] anhnguyenpku commented on #62
Hi @ArjenSwBase, the event creation feature is out but when i test this feature,by clicking and holding a cell , then sometime it pop up creation form and sometime it do not pop up form.

[2019-04-21 16:07] kurorido commented on #62
Hi, @antoniandre thank you for a such great feature.
I think maybe you can provide a callback to tell "which cell is clicked or pressed".  It will let others customize the behavior easily.

I suggest to emit "cell-mouse-down" event in https://github.com/antoniandre/vue-cal/blob/48eac0a5476f605f33dc55a8939ab4210c2a30da/src/components/vue-cal/index.vue#L405

If you think it's fine, I will send a pul

[2019-04-21 16:09] webdeluxe commented on #92
thx.

[2019-04-21 16:11] kurorido commented on #62
Hi, @anhnguyenpku , according to the source code.
You'll need to hold the cell about 1.2s to trigger the event.

https://github.com/antoniandre/vue-cal/blob/48eac0a5476f605f33dc55a8939ab4210c2a30da/src/components/vue-cal/index.vue#L224

[2019-04-21 21:13] ptzremoute opened #103 "Overlapping events"
Hi!
I have an issue with overlapping events feature.
First time (on page open) it's look like expected, but after switch on month\week\day the events move with animation. This is best explained on video.
https://youtu.be/tFOKkvRih9E

vue: 2.6.10
vue-cal: 1.50.1

[2019-04-21 22:25] kylecueters commented on #100
Oh, I see. Got it! Thank you for replying.

[2019-04-22 01:16] kylecueters opened #104 "Hide weekdays from weekly view (option to show only 2 days, 3 days, 4 days)"
Is there a way I can hide specific weekday on a weekly view just like this https://fullcalendar.io/docs/hiddenDays for customization purposes. Thanks.

[2019-04-22 01:17] kylecueters commented on #104
Is there a way I can hide specific weekday on a weekly view just like this https://fullcalendar.io/docs/hiddenDays for customization purposes. Thanks.

[2019-04-22 02:35] antoniandre commented on #85
Closing for inactivity. Please reopen if not solved!

[2019-04-22 02:35] #85 closed

[2019-04-22 03:00] antoniandre commented on #62
Hi @kurorido, @anhnguyenpku,

Thank you for your feedbacks.

@anhnguyenpku: @kurorido is correct, but do you mean it does not work in your code or when you try the examples of the documentation?
- https://antoniandre.github.io/vue-cal/#ex--edit-delete-create-events
- https://antoniandre.github.io/vue-cal/#ex--more-advanced-event-creation

@kurorido, thanks for your suggestion of PR. Actually there

[2019-04-22 03:06] anhnguyenpku commented on #62
Hi, @antoniandre
You'll need to hold the cell about 1.2s to trigger the event.
yes, it work ok.
I'm waiting for next release with new feature.
Thanks.

[2019-04-22 04:22] AhmadOf opened #105 "Event is not counted if it is ended in 31 of any month"
If I added any event in the 31th of March or December for example, it is not counted in year view.

[2019-04-22 05:18] antoniandre commented on #104
Hi @kylecueters, this is currently not an option in Vue Cal and I will add it later.

But until then what you can do is hide a specific day of the week via CSS.
It's quite simple, for instance, this will hide Wednesdays in a week view with hidden weekends:

[code]

[2019-04-22 05:19] antoniandre commented on #102
Closing this issue as duplicate of #104, please follow in there.

[2019-04-22 05:19] #102 closed

[2019-04-22 06:51] kylecueters commented on #104
Yeah, that works. I think I that's enough requirement for my project. But it would be nice to add that feature in the future. Thanks anyway!

[2019-04-22 10:52] antoniandre commented on #105
Hi @AhmadOf,
Thank you for reporting this bug, this is now fixed in version 1.55.1.
Please refer to the release notes as always!
https://antoniandre.github.io/vue-cal/#release-notes

[2019-04-22 10:52] #105 closed

[2019-04-22 11:01] antoniandre commented on #103
Hi @ptzremoute,
I fixed something similar today, please try upgrading Vue Cal to version 1.55.1 and let me know.

If it doesn't solve the issue, I will need your code to see what's wrong, please fork and update this codepen: https://codepen.io/antoniandre/pen/rPzWOJ

[2019-04-22 11:03] antoniandre commented on #100
All good, closing the issue then. 👌

[2019-04-22 11:03] #100 closed

[2019-04-22 18:43] ptzremoute commented on #103
Hi @antoniandre,
I will check and then give you a feedback.

[2019-04-22 18:52] ptzremoute commented on #103
It's look better, but such error appears in console randomly (while switching weeks on a week view):
Error in render: "TypeError: Cannot read property 'simultaneous' of undefined"

[2019-04-23 10:51] ShockwaVee opened #106 "Change selected date & current view"
Hey,

I'm currently trying to implement the following:
A 'today button' on which you can click and it will take you to the month view and select the todays date. I'm guessing it would require changing the selected date and the view you're currently on, but programatically.

I've checked the docs and tried implementing this on my own, but I couldn't do it.
Is this even possible in the current versi

[2019-04-23 21:51] ptzremoute commented on #103
@antoniandre ,
I reproduce error in this codepen: https://codepen.io/leohim/pen/EJdaMy

[2019-04-24 08:41] abrudane commented on #28
@antoniandre Hello, I really love your lib. I've just managed to integrate it in my project.

[2019-04-24 10:20] antoniandre commented on #106
Hi @ShockwaVee,

This is definitely possible.
Here is a Codepen that does this: https://codepen.io/antoniandre/pen/yrREOL?editors=1010, but basically you just need to do  this on click:

[code]

As it might be useful for many others as well, I will put that in the documentation soon!

Hope it helps.

[2019-04-24 10:27] antoniandre commented on #103
Hi @ptzremoute,
Thanks for your reproduction link, that's great.
I understand the issue and I will solve it ASAP.

[2019-04-24 11:03] antoniandre commented on #103
Hi @ptzremoute,
This is now fixed in version 1.55.2, thanks for reporting!
(In your Codepen example if the error is still here make sure you hit https://unpkg.com/vue-cal@1.55.2)

[2019-04-24 11:03] #103 closed

[2019-04-24 11:18] antoniandre commented on #62
Hi @anhnguyenpku, @kurorido, @ArjenSwBase,

A new version is released and emitted events `day-click` & `day-focus` are now renamed into `cell-click` & `cell-focus`, along with fixes and improvements.

Regarding the parameters you get on cell click and hold, I haven't changed it in the release since you already have all you need in the event: the exact start date and time, and the event itself that

[2019-04-24 11:18] #62 closed

[2019-04-24 11:20] #63 closed

[2019-04-24 11:28] antoniandre opened #107 "Display all-day events that are multiple-day events across multiple cells"
After the first part of the feature #40, the next step is to spread a multiple day event onto multiple cells as illustrated:
<img alt="screenshot 2019-01-07 04 24 59" width="859" src="https://user-images.githubusercontent.com/22971289/51836226-eb647d80-2353-11e9-8442-d1895e1ecc23.png">

[2019-04-24 11:30] antoniandre commented on #40
Closing this issue as feature is released.
This feature will be improved, see #107 and continue thread there.

[2019-04-24 11:30] #40 closed

[2019-04-24 12:00] antoniandre commented on #28
Hi @abrudane, thank you for your feedback.

I am not sure what you mean,
**If your request is to handle more than 3 simultaneous events**, then there is no timeline for this as it is not the top priority for now and also very complex to calculate some event overlaps layout cases.
But until I find a way there is always the possibility to force display as you want from CSS, you can also tweak the ce

[2019-04-24 14:59] abrudane commented on #28
@antoniandre yes, that would be the idea. Now that I look into the examples you've given me, I see that is clear and easy. Sorry to bother you with this question. Thank you.

[2019-04-25 07:28] ShockwaVee commented on #106
Hi @antoniandre
Great, that's exactly what I need, thanks a lot!

[2019-04-25 07:28] #106 closed

[2019-04-26 04:48] antoniandre commented on #93
Closing the issue for inactivity.

[2019-04-26 04:48] #93 closed

[2019-04-29 02:56] kylecueters opened #108 "Horizontal scroll with defined minCellWidth"
Hi, I'm currently working on making a single cell in week view wider using the minCellWidth. But when I defined a huge number of pixels the other days becomes hidden. Is there a way i can make it to scroll horizontally not to hide the other days? Thanks.

[2019-04-29 12:47] antoniandre commented on #108
Hi @kylecueters,

Great that you ask. As this was not possible until now, I just released version 1.56.0 that allows using `min-cell-width` independently of day splitting.

Hope it helps.

[2019-04-29 14:17] 13thbit opened #109 "Feature request: Optionally display week numbers in month view"
Many of our users are accustomed to see week numbers in calendars, would be great if that could be an optional display setting for vue-cal!

Some examples: http://whatweekisit.org/

Thanks for a great component and for considering my request!

[2019-04-29 22:25] kylecueters commented on #108
This seems to be working fine. But I have a problem with the weekdays' headings whenever I scroll horizontally the other weekday heading seems to become hidden. I'm not sure about this but I think weekday headings width seems to be in 100vw? I guess.

![heading cut](https://user-images.githubusercontent.com/29885103/56930802-8bc36d00-6b10-11e9-9ee3-1be130f98093.png)

[2019-04-30 02:34] antoniandre commented on #109
Hi @13thbit,
Thank you for your feedback.
Sure, that makes sense, I'm adding it to my to do list.

[2019-05-01 08:48] antoniandre commented on #108
Hi @kylecueters,

Can you check this codepen and see if it works.
If your case is different please update the codepen and post it here.

Cheers.

[2019-05-01 22:13] kylecueters commented on #108
That's exactly what I just did, I think it is in my custom CSS for the weekday-headings that has the problem. My bad. Thanks for the reply tho!

[2019-05-02 00:51] antoniandre commented on #106
Hi @ShockwaVee,
I just released a new version that includes a Today button as an option.
You may be interested: https://antoniandre.github.io/vue-cal/#ex--adding-a-today-button

[2019-05-03 05:32] kylecueters commented on #108
I think the problem was I have a custom background color for the weekdays-headings class and you won't see the cut when the background of it was completely white.

.vuecal--view-with-time.vuecal--time-12-hour .vuecal__weekdays-headings {
  color: white;
  background: #0e47a1;
  width: 2450px;
}

To make it full width i set the width with (MIN-CELL-WIDTH * 7).

[2019-05-06 02:09] CarlosOnline opened #111 "TypeError: Cannot create property 'cell-content' on boolean 'true'"
First time use is not working: **"TypeError: Cannot create property 'cell-content' on boolean 'true'"**

Vue-cal version: 1.57.2
Vue version 2.6.4

Is there something wrong or missing?

**Error**
[code]

**Example:**
[code]
**Test.ts**
[code]

[2019-05-06 03:29] #111 closed

[2019-05-06 03:29] CarlosOnline commented on #111
Vue js bug - resolved by upgrading vue js.

https://github.com/vuejs/vue-hot-reload-api/issues/73

[2019-05-06 04:10] CarlosOnline commented on #94
Vote for same feature request.  This feature would be very useful to me.

[2019-05-06 04:19] CarlosOnline commented on #94
Was able to change the hold time out via hack below.

[code]

[code]

[2019-05-06 06:02] antoniandre commented on #111
This is a recurring issue, also referenced in #57

[2019-05-06 16:43] matheusmoura10 commented on #94
Excellent, what is the forecast of this new release?

[2019-05-06 23:43] antoniandre commented on #94
Hi @matheusmoura10, thanks for your enthusiasm.

There are a couple of things I need to finish before starting the drag & drop feature:

- At the moment I am refactoring the way multiple-day events work (43e35ad), and this is very important for the future recurring events and the overall good functioning of all "segmented" events. This will also fix #78 and change the way the overlaps work interna

[2019-05-07 00:01] antoniandre commented on #108
Hi @kylecueters,
Unfortunately this cannot be done via CSS.
That's why in my https://antoniandre.github.io/vue-cal/#ex--splitting-days example, you can see that:

- **as long as there is a `minCellWidth`** the header is scrollable horizontally and the timeline remains on the left, but the header disappears when you scroll down.
- **when the minCellWidth is 0**, the header remains at the top when y

[2019-05-07 00:06] kylecueters commented on #108
@antoniandre yeah you right. Can't be done in CSS. Thanks for responding! I'll close this issue again.

[2019-05-07 00:06] #108 closed

[2019-05-07 00:16] CarlosOnline opened #112 "Event changes to in :on-event-create handler are ignored"
Changes to the event in the on-event-create handler are ignored.

1. Cannot change the event class in on-event-create.

2. Need to delay event changes with a setTimeout(..., 250) , however this doesn't work for the event class.

Any ideas?

[code]

[2019-05-07 18:10] CarlosOnline commented on #112
Never mind temporary lapse of insanity.

[2019-05-07 18:10] #112 closed

[2019-05-10 15:28] jonelrecto commented on #19
how could i possibly dynamically change the color of the event cells.?

[2019-05-14 04:49] antoniandre opened #115 "Allow passing css styles to events"
As per the original request #114,
The request is to allow custom styles defined in the event object, and rendered it from within Vue Cal.

@nicholaszuccarelli

[2019-05-14 05:01] antoniandre commented on #115
Hi @nicholaszuccarelli, I have created an example as a solution to this issue, where you can pass styles to events independently.
https://codepen.io/antoniandre/pen/XwNdQz

As this request is against the Vue Cal philosophy and for performance and simplicity, Vue Cal won't allow passing custom styles to be rendered from Vue Cal.
I hope you can see the benefit of the custom event rendering.

[2019-05-14 09:10] antoniandre commented on #19
Hi @jonelrecto, on which condition do you want to change cells color? and is it cells or events that you want a custom color on?

[2019-05-14 12:50] eladyaniv01 opened #116 "event overlaps, with events as a computed property"
Hello,
First of all, i admire the work done here,  amazing project,
the problem i am facing right now is, if i want to apply the `no-event-overlaps` method,  it only works with non-computed events  ( i assume maybe im doing something wrong ?)
in my case the events are a computed property,
i am getting them from the store,  and serialize them into the Calendar specific data model
everything works n

[2019-05-14 22:47] CarlosOnline opened #117 "vue-cal needs unique keys - to handle multiple calendars on page shows same content due"
**Scenario:** Have a page with multiple vue-cal instances on the page (all with month view).

**Problem:** Month cells are showing the same contents even though each instance has a different set of events.

**Cause:** vue-cal is using duplicate keys for the month cells - specifically the VuecalCell components.

**Can you provide a key prefix that can be added to each key to allow for unique keys?*

[2019-05-14 23:47] CarlosOnline commented on #117
Tried an experiment of setting unique keys and it didn't help.

The 2 calendars are both showing the same events even though each calendar has its own unique set of events.

**Any ideas on what could be causing this?**

Is it a global variable thing?
Or shared event?

[2019-05-14 23:47] antoniandre commented on #117
Hi @CarlosOnline,
As the documentation page has more than 30 instances and the cells are all different, I suggest that the problem comes from sharing the same events array, if that is the case can you try to copy the array before using it? (something like `eventsCopy = [...events]`)

[2019-05-14 23:53] antoniandre commented on #116
Hi @eladyaniv01,
Thank you for your feedback I appreciate it.
Regarding the issue, I just want to make sure that you understood that `no-event-overlaps` still allow multiple events on the same time, but only the display will change as per this example https://antoniandre.github.io/vue-cal/#ex--overlapping-events, when you click the button.

if that is what you had in mind, perfect, then I will nee

[2019-05-14 23:56] antoniandre commented on #116
Maybe you can fork and modify this if it helps: https://codepen.io/antoniandre/pen/eoEgqo

[2019-05-15 00:17] CarlosOnline commented on #117
Nevermind - figured it out my fault, don't ask :)

[2019-05-15 00:17] #117 closed

[2019-05-15 09:26] eladyaniv01 commented on #116
yes,  it did help,  i was able to reproduce the problem,  i have copied the exact array of events that is computed from my store,   maybe you can find what i have done wrong

https://codepen.io/eladyaniv01/pen/YbNaRm

[2019-05-15 10:00] nicholaszuccarelli commented on #115
Thanks for that.
I had read the docs about the event-renderer slot but didn't actually think I could use it in this way.

Perfect solution for me. Thanks for the help!

[2019-05-15 10:41] antoniandre commented on #116
Hi @eladyaniv01,
Great, thank you for the reproduction link. I tried it and see the issue here.
The fact that your events come from a Vuex Store and through a computed value is totally fine.
What happens here is that when the events are in background (`background: true`), they will overlap unconditionally this is purposely done to allow such behavior in this example: https://antoniandre.github.io/

[2019-05-15 10:42] antoniandre commented on #116
Hi @eladyaniv01,
Great, thank you for the reproduction link.
I tried it and see the issue here.
The fact that your events come from a Vuex Store and through a computed value is totally fine.
What happens here is that when the events are in background (`background: true`), they will overlap unconditionally this is purposely done to allow such behavior in this example: https://antoniandre.github.io/

[2019-05-15 10:54] antoniandre commented on #115
Awesome! Let's close this then.

PS: the custom event rendering will change a bit in Vue Cal 2.0 to use the new slots syntax since Vue.js@2.6.0 (already implemented in the v2 branch).

Keep an eye on the release notes when it's out!

Cheers.

[2019-05-15 10:54] #115 closed

[2019-05-15 11:54] eladyaniv01 commented on #116
Thanks you so much for your quick response and clear explanation , much appreciated
It works, i am closing the issue,

Please let me know if i can contribute to your project!

[2019-05-15 11:54] #116 closed

[2019-05-15 14:45] eladyaniv01 commented on #116
Thank you !
it works like a charm

On Wed, May 15, 2019 at 1:42 PM Antoni <notifications@github.com> wrote:

[2019-05-16 13:15] HarunaIchinose opened #118 "Feature request : resize an event on the top of this event"
Today, we can resize EndTime but not StartTime.

[2019-05-16 13:17] HarunaIchinose commented on #118
Can resize StartTime

[2019-05-16 13:21] antoniandre commented on #116
Awesome @eladyaniv01.
If you are willing to contribute on Vue Cal you are always welcome!

I will have a look if I can find a not-too-complex task for you as a good start and will let you know. Probably right after the V2 release as I am refactoring everything that would cause lots of annoying conflicts.

[2019-05-16 13:44] HarunaIchinose opened #119 "Feature Request : Choose different "component" between different view"
For example : I want to have a splitDay in the day view but not in the month view

[2019-05-19 06:32] jonelrecto commented on #19
i just want to change dynamically the color of every event that i added to the calendar.

[2019-05-20 23:29] antoniandre commented on #118
Hi @HarunaIchinose,
That is something that I keep in mind for later.
But once the drag and drop is done, this might become not so useful.
we will see then.

[2019-05-20 23:31] antoniandre commented on #19
Hi @jonelrecto, here is what you want to style events independently: https://github.com/antoniandre/vue-cal/issues/115

[2019-05-20 23:31] #19 closed

[2019-05-22 08:50] anhnguyenpku opened #120 "Add an option to place split-days labels in header"
Hi @antoniandre ,
1 : I want free (not scroll) 3 row vuecal title, heading date, split label.
2 : I want format split day column with dynamic style.
 how can i do this? thanks alot.
![vuecal](https://user-images.githubusercontent.com/35193112/58161157-f26c1e80-7ca9-11e9-8f40-c319bb959fc3.png)

[2019-05-24 19:42] jardimfelipe opened #121 "Edit Title Bar"
@antoniandre we have some way to edit title-bar content? Like this
![image](https://user-images.githubusercontent.com/24942146/58352746-e8315800-7e42-11e9-83d4-5cdc3b9120fe.png)

[2019-05-24 19:55] nizarbathery opened #122 "How to change background color for a time range?"
Hi,
I like vue-cal very much as simple to use. I just wanted to make out of business hours in different color in calendar and scroll position to business hours by default. Any solution to get this result? at least showing background color (for example office open at 9am , so I need to show before 9 am in grey or other color in weeek, and day view).

[2019-05-25 04:56] antoniandre commented on #121
Hi @jardimfelipe,

You can provide all these buttons in the title slot like in this example: https://antoniandre.github.io/vue-cal/#ex--custom-title-and-cells.

So use (`slot-scope="{ title, view }"`), the `title` variable is already formatted.
Then inside the same slot, after the title place your buttons.
The 'next' button will be displayed at the right.

Hope that helps.

[2019-05-27 07:44] antoniandre commented on #122
Hi @nizarbathery,
Thanks for your feedback.
Currently there is no direct way to do this but I will add such an option in a future release.

For now, what you could do, is put a grey background to vue-cal then add 1 background event (`background: true`) on each working day from 9am to end of office hours with a 'working-hours' css class that has a white background.

I know it's not perfect but hope

[2019-05-27 13:28] jardimfelipe commented on #121
"Prev" and "Next" arrow have to be placed inside the title slot? This is what a got here
![image](https://user-images.githubusercontent.com/24942146/58422850-05943b00-806a-11e9-9cba-a6f5f0a259c9.png)

And this is what I've done
![image](https://user-images.githubusercontent.com/24942146/58422867-117ffd00-806a-11e9-83cf-5fa9bfe3ecf0.png)

I dont know what I'm missing here

[2019-05-27 14:11] jardimfelipe commented on #121
Thanks, that was really helpful

[2019-05-27 14:11] #121 closed

[2019-05-28 15:40] netanelwebninja opened #124 "Events not displayed on week view (only on month view)"
Hey,

From some reason Im fetching events from server and pass them to vue-cal, the events are displayed correctly in month view but on week view they not displayed.
On week view, the specific day that should display the events is just empty.

See images for more info:
![PixelSnap 2019-05-28 at 18 38 07](https://user-images.githubusercontent.com/33468899/58491598-fbf8f900-8177-11e9-96e2-bf5b758af1

[2019-05-29 11:06] #124 closed

[2019-05-29 13:45] enzonotario commented on #124
Hey! I also have this problem. Have you found a solution?

[2019-05-29 13:53] enzonotario commented on #124
sorry, I put the time and now it works :)

[2019-05-29 13:53] antoniandre commented on #124
Hi @netanelwebninja,
From your screenshot I can see you are using the time option, all the events must have a time defined in the `start` and `end` properties - like in your event in position `0`.
The event in position `1` does not. Also the event one has no duration, it might be there but with a height of `0`.

Let me know.

@enzonotario, can you also share your code, so I can see how to help?

[2019-05-30 00:09] antoniandre commented on #120
Hi @anhnguyenpku,
I am not sure I understand your questions.

if what you want is:
1 - remove the horizontal scroll, this is naturally done when no cell `min-width` is set https://antoniandre.github.io/vue-cal/#ex--splitting-days, when you click on the button
2 - if you want a particular style on each split, you need to define a class like so: `:split-days="[{ class: 'him', label: 'Him' }, { class

[2019-05-30 12:25] nizarbathery commented on #122
Hi @antoniandre,
Thank you for the quick response, I hope your suggestion will work well. I've been waiting for your next release to get the single click for adding new event on clicked cell. I am not sure if I add a background event will conflict or work well to add new event in business hours (background event). I need to add new appointment when user single click on empty cell and edit when use

[2019-06-01 03:10] anhnguyenpku commented on #120
Hi @antoniandre ,
Thank you for your attention.
1. i want 3 headers row at the top of the cal:
+ vuecal title (Tuần 21 (Tháng 5 2019))
+ heading date (Thứ 2 20, Thứ 3 21, Thứ 4 22)
 + split label (BS. Trung, BS. Huy
to stay there at all times while the cal vertical scroll .

[2019-06-04 00:04] antoniandre commented on #120
Hi @anhnguyenpku,

- Regarding the week days, just to be clear, keeping the week days sticky in coordination with a `min-cell-width` is not possible as explained here: https://github.com/antoniandre/vue-cal/issues/108#issuecomment-489829987

  So the only way to keep sticky headers is to have a toggle button like in https://antoniandre.github.io/vue-cal/#ex--splitting-days.
  This allows switching

[2019-06-05 01:30] BernardZhao commented on #55
Also would love this feature!

[2019-06-06 02:29] kylecueters opened #125 "Is there anyway to reload the events data and re render the calendar? Seems that events are not reactive so is there anyway i can rerender the calendar when an event was added?"

[2019-06-06 22:13] #125 closed

[2019-06-09 09:10] BernardZhao opened #127 "Support Server Side Rendering"
I would like to use vue-cal in my gridsome project, but currently to do so I have to wrap it in `<ClientOnly>` tags as the component does not support SSR. This would be a very appreciated feature!

[2019-06-14 18:03] jardimfelipe opened #128 "Events counter on week view"
I didnt find on docs a way to use an event counter on each day in week view. I need to put a counter right below the week day. We have a way to do that in vue-cal?
Here is an example of what I need to do:
![image](https://user-images.githubusercontent.com/24942146/59528778-8b5f1580-8eb5-11e9-9228-910b2eb1b103.png)

[2019-06-16 05:02] BernardZhao opened #129 "How to set calendar view programmatically?"
I was wondering if there is an existing way to change the calendar's view, for example from `week` to `day`, externally. I am intending to change the view to day on mobile devices, or when the window simply becomes too narrow.

[2019-06-17 13:58] jardimfelipe commented on #129
I did that creating a listener to resize window and create a method to change de default-view. It worked to me

[2019-06-19 04:08] antoniandre commented on #128
Hi @jardimfelipe,

This can be done quite easily using custom cells rendering (https://antoniandre.github.io/vue-cal/#ex--custom-title-and-cells)
Here is a demo of what you want: https://codepen.io/antoniandre/pen/BgLOYa?editors=1010

Let me know if you need more help!

[2019-06-19 04:11] antoniandre commented on #129
Hi @BernardZhao,

Yes there is a simple way of doing so using Vue refs. Here is an example: https://codepen.io/antoniandre/pen/yrREOL?editors=1010

And the original discussion here: #106

Hope it helps.

[2019-06-19 05:08] BernardZhao commented on #129
Thanks a ton, this answered my question.

[2019-06-19 05:08] #129 closed

[2019-06-19 07:48] antoniandre commented on #127
@BernardZhao, thanks for your feedback.
I will have a look after the V2 release.

[2019-06-19 16:10] BernardZhao commented on #127
Thanks for considering this. Once I get the bandwidth, I'll see if I can help myself. I will probably just follow this [guide](https://ssr.vuejs.org/).

[2019-06-19 16:15] AndriiKost opened #130 "Calendar title doesn't show by default and after passing as a slot"
Having an issue with calendar title not displaying at all, even if no slot passed to vue-cal. Arrows didn't display either, but I found a hacky way to display them through CSS.

Please take a look and let me know if that is an internal issue or just me, and possible way to fix my problem.

Code snippet:
![2019-06-19_11-17-36](https://user-images.githubusercontent.com/18060463/59782575-dac18f00-928

[2019-06-24 03:55] antoniandre commented on #130
Hi @AndriiKost, Thanks for your feedback.
Can you make sure you use Vue.js 2.5.18 or later (as per the documentation https://antoniandre.github.io/vue-cal/#installation), then rebuild and let me know if that solve your issue.

[2019-06-24 20:42] AndriiKost commented on #130
It works, thank you! Sometimes people don't read a "required" section ...

[2019-06-24 20:42] #130 closed

[2019-06-26 01:52] 4vrel opened #132 "Hide a particular day ( like hide-weekends but for others days )"
Hello !
Let's say my working weeks are from Wednesday to Sunday, how can I show only those day ? ( and hide Monday, Tuesday and Thursday )
Thanks

[2019-06-26 04:58] antoniandre commented on #132
Hi @4vrel,
Thanks for your feedback, this is currently not an option in vue-cal, and already a feature request here #104, but until this option is added, you can hide days in CSS as explained in the same feature request.

Closing this issue, please continue discussion in #104.

[2019-06-26 04:58] #132 closed

[2019-06-29 01:02] rogeliohoyos opened #133 "Simplified Week View"
Greetings calendar master.
Your api is great, but I wonder if it is possible a special week view where there are no days. Of course with Events. I mean like this,
![image](https://user-images.githubusercontent.com/52336859/60377825-74eda980-99df-11e9-9697-d1309ca584aa.png)

[2019-06-29 15:48] Sacrekin opened #134 "Today highlight not updated when date changes"
On long running apps, when the date changes, the today highlight does not change to the new date, even when using to return to today button. I tried to re-render vue-cal using the :key attribute but I still get the original day displayed (the day when the app was loaded).

![image](https://user-images.githubusercontent.com/30285648/60386521-2222f900-9a96-11e9-80c7-5eec34112594.png)

[2019-07-01 06:29] antoniandre commented on #128
Closing for inactivity. Please reopen if you need more help.

[2019-07-01 06:29] #128 closed

[2019-07-01 06:51] chriswaweru70 commented on #19
hi @ am having a problem trying to remove the borders around my vuecal

[2019-07-01 07:39] eakenbor opened #135 "Vue-call modal is unable to read javascript date object"
I have a problem passing the dates I received from my mongodb server onto the vue-cal modal as start and end dates. I passed the dates as new Date("2019-06-24T16:00:00.140Z").
I also passed the string just like this "2019-06-24T16:00:00.140Z" but it did not accept. Instead the calendar just disappeared completely from the DOM.
Please can anyone explain what I am doing wrong?

[2019-07-01 23:58] antoniandre commented on #135
Hi @eakenbor,

Please share some code if problem is not solved after that.
As per the documentation in API > events (https://antoniandre.github.io/vue-cal/#api), and until V2 is out, the only way to set event dates is this format: `yyyy-mm-dd hh:mm`.

V2 will accept passing JavaScript Date objects.

Let me know if you need more help. If so please share your code.

[2019-07-02 00:01] antoniandre commented on #134
Hi @Sacrekin, thanks for your feedback.
I will see how I can keep the today date accurate and will let you know when I release this feature.

[2019-07-02 00:52] antoniandre commented on #133
Hi @rogeliohoyos, thanks for your feedback.

How do you expect the events to be displayed in this view? do you have in mind something like this https://antoniandre.github.io/vue-cal/#ex--timeless-events in day view?

I am not sure if it is a good thing to mix the events of a whole week in one cell, and you won't have the time information obviously. But if this is what you want here is what I sugge

[2019-07-02 07:24] eakenbor commented on #135
Thanks antoniandre. I managed to concatenate the dates before passing them in. However, when are you expecting to release v2? The feature of event creation by clicking on a time in the calendar is a very important feature that I need now.

[2019-07-02 09:25] antoniandre commented on #135
There's probably 2, 3 weeks of work before release.

[2019-07-02 09:25] #135 closed

[2019-07-12 21:28] TheJaredWilcurt opened #138 "Wrong number of days shown on month if event title is super long"
## Reproduction Example

* https://jsfiddle.net/4w8nmkdt

## Steps to reproduce

1. Set `eventsOnMonthView` to `'short'`
1. Pass in an event with a very long title
1. Load the calendar and click on the Month View

**Expected:** Displays all 7 days in the month view.

**Actual:** only shows some days

* * *

I think you can fix this by forcing an arbitrary max-width. Pick something high that will l

[2019-07-13 07:19] louhuaidong opened #139 "Events are not shown in week view in case of multiple days event with 00:00:00 endtime"
Condition:
start:  2019-07-12 00:00:00
end:  2019-07-14 00:00:00

Possible Root cause:
In cell.vue, multiple days event case is not considered in events():get():line 189

[2019-07-13 07:35] antoniandre commented on #139
Thanks for reporting @louhuaidong, this will be fixed in the v2 coming very soon.
Meantime you can set an end time at 23.59

[2019-07-16 10:45] antoniandre commented on #138
Hi @TheJaredWilcurt, thanks for reporting.
This is now fixed in version 1.62.1 (don't forget to make sure you are hitting version 1.62.1 from the dependencies of jsfiddle)

[2019-07-16 10:45] #138 closed

[2019-07-17 15:31] nestormauro opened #140 "Capture the selected datetime when user click in not event area"
I would like to capture the selected datetime when user click in not event area or I would access to onEventCreate without editable-events tag.  This would be a very appreciated feature, because  can add more flexibility to custom ajax event creation. Thanks for your attention.

[2019-07-18 04:06] jeffster9 opened #141 "class in xsmall tpl"
I love this calendar. I actually ditched another really nice one for this one instead because of some small features (very worth it); thank you :) That being said, I am using vue-cal with the `xsmall` parameter and a `class` parameter in the event objects, like so...

    [
    ...
    {
        start: datetimeStart,
        end: datetimeEnd,
        ...
        class: 'reg-last-date'
    },
    .

[2019-07-18 04:22] antoniandre commented on #141
Hi @jeffster9,
Thanks for your feedback, I appreciate it. :)
Regarding the issue, yes this is supposed to work, I don't see all your code, but here is a working example to see it in action and check how it is written. https://codepen.io/antoniandre/pen/ymLNWm?editors=1010
If it does not help please show me your code, and ideally a reproduction link.
Cheers.

[2019-07-18 04:38] antoniandre commented on #140
Hi @nestormauro,
In the coming v2 a cell click will emit an event returning the time at cursor. ;)
I will probably release it next week. Hopefully!

[2019-07-18 04:55] jeffster9 commented on #141
Perhaps I should have mentioned that I'm trying to change the color of the "dash indicator" for the **Month** view. In the example you provided, all of the circles around the numbers (which, as you know, are used to create the dash), indicating the count of events on a date, are blue; even the one on the 19th, which has the class parameter set to "green-event".  The code snippet below is directly

[2019-07-18 05:09] antoniandre commented on #141
Ok, I understand the issue.
As per this example in documentation: https://antoniandre.github.io/vue-cal/#ex--custom-events-count
You can try the updated codepen here: https://codepen.io/antoniandre/pen/ymLNWm

Hope it helps. Otherwise let me know.

[2019-07-18 11:27] nestormauro commented on #140
Hi @antoniandre, thank you for your response. Congratulations, good job, vue-cal is a nice tool. Good luck in the new release V.2.

[2019-07-18 15:19] jeffster9 commented on #141
And there we have it. Thanks for that :) Cheers!

[2019-07-18 15:19] #141 closed

[2019-07-20 06:00] bribar commented on #130
Hi @antoniandre

I have the same issue. I'm on Vue 2.5.18 and updated to the latest vue-cal. The title doesn't appear if I use a slot. If I remove it the title is there.

`<div slot="title" slot-scope="{ title, view }">
                        {{ setTitle(title, view) }}
                    </div>`

`setTitle: function(title, view){
            console.log(title, view)
            if(this.activeBu

[2019-07-20 07:36] antoniandre commented on #133
Closed for inactivity.

[2019-07-20 07:36] #133 closed

[2019-07-20 07:54] antoniandre commented on #130
Hi @bribar,
You should be able to get it working with Vue@2.5.18 by replacing the div tag by a template tag like in this example: https://codepen.io/antoniandre/pen/BXNoKr

Hope it helps.

[2019-07-20 15:19] bribar commented on #130
@antoniandre it did work! Can you help me understand why this slot `<div slot="event-renderer" slot-scope="{ event }">` works, but `<div slot="title" slot-scope="{ title, view }">` doesn't? Wouldn't both not work if it doesn't like the div tag?

[2019-07-21 07:06] antoniandre commented on #130
Good question @bribar,
You are supposed to be able to use a custom tag with slots, but this is due to the different implementation inside `vue-cal` (my Vue template is written in pug):

[code]

and:

[code]

As I am going toward Vue 2.6+ there is no point changing the implementation of the title as you can bypass the limitation of a div tag by using template and a div inside (resulting in same mar

[2019-07-24 00:43] risafj opened #142 "Allowed formats for dateFormat string"
Hi @antoniandre , I'm planning to raise a pull request with a Japanese translation for vue-cal. I have a question - is it possible to use characters in the `dateFormat` string that aren't a part of the specified characters in the docs (`DDDD`, `yyyy`, `mmmm`, and `d`)?

The relevant parts in my current `jp.json`are below, which means Wednesday, 24 July 2019 will look like this: `2019 7月 24 水`.

If

[2019-07-24 01:32] antoniandre commented on #142
Hi @risafj, Thanks for your interest and contribution!
Yes this is definitely possible to use custom format with different characters as long as they are not in this mapping:

So that `yyyy年 mmmm d日 (DDDD)` will work 🙂

Let me know if Japanese language require more changes.

[2019-07-24 01:47] risafj commented on #142
Hi @antoniandre , thank you for your prompt response! In that case, is it better if I wait till your release to raise the pull request (the json is ready though)?
Also, great work on your repo and I respect your continuous effort to improve it - vue-cal is a joy to use 😄

[2019-07-24 01:59] antoniandre commented on #142
Domo arigato. Thanks for your feedback, I appreciate it.
You can raise the PR anytime it's a breeze to merge and release.

[2019-07-24 02:11] risafj commented on #142
Awesome, just raised the PR. Good luck with your V2 release 🚀

[2019-07-24 02:21] antoniandre commented on #142
All done, thanks for your contribution. Just changed the locale code to `ja`. (iso 639-1)
Remember to check back for the V2 documentation before upgrading to V2!
Cheers.

[2019-07-24 02:21] #142 closed

[2019-07-24 03:22] #78 closed

[2019-07-24 05:00] antoniandre commented on #140
Hi @nestormauro, @yuan1998,
The V2 is out, and this feature too!
Check this example that creates at cursor position: https://antoniandre.github.io/vue-cal/#ex--more-advanced-event-creation.

But also the emitted events `cell-click` and `cell-focus` now return the time at cursor position. Try it in this example https://antoniandre.github.io/vue-cal/#ex--emitted-events and check the log.

Hope it he

[2019-07-24 05:02] antoniandre commented on #120
Hi @anhnguyenpku,
The V2 is out, and the sticky split labels too!
Please check the updated example https://antoniandre.github.io/vue-cal/#ex--splitting-days, and the release notes.

Hope it helps.

[2019-07-24 05:09] antoniandre commented on #28
Hi @tarreislam, @ivanmercado9, @nandi95, @KacperPucek,
The V2 is out and it now supports more simultaneous events! Check the release notes before using.

Hope you like it!

[2019-07-24 05:09] #28 closed

[2019-07-24 05:13] antoniandre commented on #94
Hi @nature-li, @CarlosOnline, @matheusmoura10,
The V2 is out and this feature too!
Check this example: https://antoniandre.github.io/vue-cal/#ex--more-advanced-event-creation

Also don't forget to read the release notes!

Hope it helps.

[2019-07-24 05:13] #94 closed

[2019-07-24 05:58] antoniandre commented on #78
Hi @MidnightP, The V2 is out and this issue is resolved.
Now multiple-day events are calculated in view only.
Don't forget to check the release notes.

Hope it helps!

[2019-07-24 10:31] antoniandre commented on #139
Hi @louhuaidong, the V2 is out, if you want to end an event at the end of the day, you will have to set the end time at 24:00 instead of 00:00, which is more explicit and internally processed to stay on the same day.

Please have a look at the documentation from the API section > events:

Hope it helps.

[2019-07-24 20:08] jamatheney commented on #140
Could you maybe return the time and split. I have several splits and would like to know which one I am creating an event for.

[2019-07-25 03:23] shouwangshe opened #144 "I update the latest version 2.0.1. I use it in the vue 2.6.10. I want use Chinese"
[code]
That's my  code .
I got a error. the version 1.63.0 hasn't the error

![image](https://hy-app.oss-cn-shanghai.aliyuncs.com/uploadFiles/newlife-MobilePhoto/525241668828397568/603912922232078336.jpg?Expires=4717625660&OSSAccessKeyId=LTAIiwpphf2oDONT&Signature=Vx2jm2jD/8wBL0Z12DEKXsPUEc8%3D)

[2019-07-25 03:53] antoniandre commented on #144
Hi @shouwangshe,

Please read the documentation carefully when updating to Vue Cal 2.0. Especially the release notes: https://antoniandre.github.io/vue-cal/#release-notes

This is a fixed and working Codepen of your code: https://codepen.io/antoniandre/pen/dxXvwv?editors=1010

What you should do is add the `zh-cn` locale first: https://antoniandre.github.io/vue-cal/#ex--internationalization

Then

[2019-07-25 05:06] antoniandre commented on #140
Hi @jamatheney, that makes sense. I added it in version 2.1.0.
Now cell-click, cell-dblclick, cell-focus emitted events return an object `{ date: Date, split: Number }` if there are provided split-days.

Please refer to the documentation here: https://antoniandre.github.io/vue-cal/#ex--emitted-events

@nestormauro, @jamatheney, please close the issue if it works for you.

[2019-07-25 06:07] shouwangshe commented on #144
@antoniandre Thanks a lot. Replay so fast Thank you.  I will try.  I miss so many in the doc for my poor English.

[2019-07-25 07:27] #144 closed

[2019-07-25 09:24] antoniandre commented on #77
Hi @MidnightP,

The v2 is out and it is now possible to override the global deletable / draggable individually per event.
Refer to this example https://antoniandre.github.io/vue-cal/#ex--edit-delete-create-events
Editing title stays global config.

Hope it helps.

[2019-07-25 09:24] #77 closed

[2019-07-25 09:25] antoniandre commented on #104
Hi @kylecueters,
The V2 is out and it is now possible to hide particular weekdays!
Refer to this example: https://antoniandre.github.io/vue-cal/#ex--hiding-particular-week-days

Hope it helps!

[2019-07-25 09:25] #104 closed

[2019-07-25 09:29] antoniandre commented on #72
Hi @aocneanu, @bernardZhao,
The v2 is out and it is now possible to override the global resizing / deleting ability for each event.
Refer to this example: https://antoniandre.github.io/vue-cal/#ex--edit-delete-create-events

Hope it helps.

[2019-07-25 09:29] #72 closed

[2019-07-25 09:31] antoniandre commented on #72
same as #77.

[2019-07-25 09:42] kylecueters commented on #104
Thank for this! @antoniandre

[2019-07-25 09:56] antoniandre commented on #119
Hi @HarunaIchinose, sorry I totally missed your question. :/

This is actually already possible, here is a demo: https://codepen.io/antoniandre/pen/qeNKJx?editors=1010

Hope it helps, let me know if you still need guidance.

[2019-07-25 10:01] HarunaIchinose commented on #119
oh thanks !

[2019-07-25 10:01] #119 closed

[2019-07-25 10:03] aocneanu commented on #72
Thanks alot, I'm on it!

[2019-07-25 10:15] antoniandre commented on #134
Hi @Sacrekin,
This is fixed in version 2.0.0, you will still need to refresh view though.

Steps to check:
1. go to https://antoniandre.github.io/vue-cal/#ex--calendar-themes
2. check the highlighted today date
3. change your computer date
4. click next week and come back the highlighted date has changed

If you go in the doc of the V1 it does not work there.
Also note that I can't implement a wat

[2019-07-25 10:16] Sacrekin commented on #134
Thanks! I will test it today & let you know. Cdlt, JMS

From: Antoni [mailto:notifications@github.com]
Sent: 25 July 2019 12:15
To: antoniandre/vue-cal
Cc: Sacrekin; Mention
Subject: Re: [antoniandre/vue-cal] Today highlight not updated when date changes (#134)

Hi @Sacrekin<https://github.com/Sacrekin>,
This is fixed in version 2.0.0, you will still need to refresh view though.

Steps to check:

[2019-07-25 12:11] jamatheney commented on #140
Thank you for fixing so quick. That is what I needed. Should a double click also return the split?

[2019-07-26 02:09] antoniandre commented on #140
Hi @jamatheney,
That's right, I missed a case of the `cell-dblclick`. This is now in version 2.1.2.

[2019-07-26 07:58] shouwangshe opened #145 "emm...If I want to show the designated three days in the week view.But the three days in the different weeks.Cross two weeks.How can I do this?For help"
emm...If I want to show the designated three days in the week view.But the three days in the different weeks.Cross two weeks.How  can I do this?For help.
![image](https://hy-app.oss-cn-shanghai.aliyuncs.com/uploadFiles/newlife-MobilePhoto/525241668828397568/604340554199285760.jpg?Expires=4717727616&OSSAccessKeyId=LTAIiwpphf2oDONT&Signature=a%2Biye5DYIIb6TnJ1GqF9A5pCYPU%3D)
And  I did't found how t

[2019-07-27 04:13] louhuaidong commented on #139
Hi,

Thanks for the update.  I hav tried out V2.  The bahavior is just same as you and the doc described.  But in my case, it is still a little bit tricky and confused.  For example, if an event is ended at 2019-07-**27** 00:00 for some reason (like user input), I cannot transfer it to 2019-07-27 24:00, instead I have to set it to 2019-07-**26** 23:59:59.  It is still a workaround I think.  It wou

[2019-07-27 07:09] louhuaidong opened #147 "Exception at startup when locate='zh-cn'"
The exception occurs at this line in vuecal.common.js:
              small: _this.weekDaysShort ? _this.weekDaysShort[i].label : cell.label.substr(0, 3),

I tried remove the weekDaysShort in zh-cn.js just like other langs and the error will go away but the weekDay description is not correct for zh-cn in small/x-small case as per lang character.

vue.esm.js:628 [Vue warn]: Error in render: "TypeErr

[2019-07-27 20:21] bastianjoel opened #149 "All day events not showing up"
All day events aren't displayed in the all day section on week and day view when using `show-all-day-events`.

After navigating to the week view via double click on a day cell inside the month view the all day events are also showing up on the week and day views.

Example:
https://codepen.io/bastianjoel/pen/xvRJgX

[2019-07-28 05:07] antoniandre commented on #147
Hi @louhuaidong,
Thanks for reporting. I can't seem to reproduce this issue, so for next time please put at least your code, and preferably a reproduction link to Codepen or similar.

Anyway I Changed the way this variable is initialized in version 2.1.3 and this should help.
If not please provide some code.

Cheers.

[2019-07-28 05:32] antoniandre commented on #149
Hi @bastianjoel, Thanks for reporting.
This is now fixed in version 2.1.4.

[2019-07-28 06:20] antoniandre commented on #145
Hi @shouwangshe, I am not sure I understand the question:
Do you want to have 3 days displayed but days from different weeks?
Like: Fri 26 July, Sat 27 July, Tue 30 July?
If so this is not possible, you can only have days from the same week at a time.

Regarding your second question, it is not possible to customize the weekdays headings neither.
They are displayed as written in the `zh-cn` json fi

[2019-07-28 08:44] #149 closed

[2019-07-29 00:52] shouwangshe commented on #145
@antoniandre Yes, Maybe 27 July, 28 July, 29 July. They are in turn.But not the same week.  The format is right. Just our design has a little different form the format.

[2019-07-29 18:40] nestormauro opened #150 "Overlap error with 3 simultaneous events in Version 2.2.0 (on start vue-cal)"
Hi, @antoniandre. Congratulations for release V.2.
I was trying to test new overlap behavior with a 3 simultaneous events but one of them overlap as attachment picture shows.

![vue-cal_error](https://user-images.githubusercontent.com/23141981/62073355-2ca3f000-b206-11e9-9da9-2e7beb57601c.png)

 The script and event array are:

`<meta charset="utf-8">
<title>vuecal demo</title>
<script src="https:

[2019-07-30 06:22] louhuaidong commented on #147
Hi @antoniandre ,

The code is just simpley use vue-cal with some parameters.  After some debugging, I found the key trigger of this issue is to set "hide-weekends".  I believe you should be able to reproduce it by set “hide-weekends" and locale="zh-cn".

My analysis about the root cause: in case of “hide-weekends”， _this.weekDaysShort.length is 5 but the loop is still 7.  So _this.weekDaysShort[5

[2019-07-30 06:22] louhuaidong commented on #147
Forgot the mention that v2.2.0 still has this issue.

[2019-07-30 12:05] nestormauro commented on #150
Hi @antoniandre and contributors!!

I will explain a bit, the previous issue.
The error happens on assign data array on start and when eid is x_1, x_2, x_3 in this case, style left property (of the second one div event) has a value of 20% when the right value should be 33.333%

Best regards.
@nestormauro

[2019-08-01 10:17] eakenbor opened #151 "Unable to click on a cell on Chrome in mobile and tablet devices"
When on desktop mode in Chrome browser, double-clicking on a date cell in the month view leads to the week view and further double-clicking leads to the day view. However, when switched to a tablet or mobile mode, all the cells are disabled and unclickable. Other browsers I have tried don't seem to have this same problem.

[2019-08-01 12:49] #151 closed

[2019-08-01 12:54] eakenbor opened #152 "Is it possible to prevent the time range from displaying on the events in the calendar?"
I have a situation whereby my event begins from 9:00 on one date and then ends at 12: 00 after 10 days. However, the week and day views are showing the time range of 09:00 - 12:00 on every day in the 10-day range thereby making it look like there are 10 events spanning from 09:00 to 12:00 each day. So is it possible to prevent the time range from displaying on the events in the calendar?

[2019-08-02 04:15] antoniandre commented on #150
Hi @nestormauro, thanks for your feedback.
Yes I am aware the overlapping is not perfect, and what you see here is intended as a compromise to work in most cases:
look at these 2 scenarii from the example https://antoniandre.github.io/vue-cal/#ex--edit-delete-create-events:

<img width="736" alt="Screenshot 2019-08-02 at 13 19 15" src="https://user-images.githubusercontent.com/22971289/62341963-90

[2019-08-02 04:15] #150 closed

[2019-08-02 04:22] antoniandre commented on #147
Ok @louhuaidong, I'll have a look and will fix it today or tomorrow.

[2019-08-02 05:41] antoniandre commented on #147
Now fixed in version 2.3.0.

[2019-08-02 09:19] antoniandre commented on #152
Hi @eakenbor,
This is an interesting question, I was wondering how best to display time on multiple day events.
After looking around, what I decided to do in a next release is to consider the event as all day event if it lasts more than 24 hours (like in this example https://antoniandre.github.io/vue-cal/#ex--all-day-events).
This way it will never look weird and will not become too crowded with m

[2019-08-02 11:15] nestormauro commented on #150
Hi @antoniandre thank you for your response. I understand the problem complexity, for my particular case I solving overlap using day splits.
Nice tool, thank you!!

[2019-08-04 08:10] alexxsexotic opened #155 "Why is cs locale removed?"
According to the release version 1.59.0 the cs locale is added but currently its not avaibale in the newest release and main github repository.

[2019-08-04 08:10] alexxsexotic opened #156 "Why is cs locale removed?"
According to the release version 1.59.0 the cs locale is added but currently its not avaibale in the newest release and main github repository.

[2019-08-04 18:20] eakenbor opened #157 "Clicking on month, week or day view and on the navigating arrows reloads the page"
My vue-cal started behaving strangely today as whenever I click on the month, week or day view and on the view navigation arrows, the page automatically reloads itself and then reverts back to the default view. This is happening in Chrome, Firefox and Edge (the only browsers) I tried it on.
EDIT: Here is the error I get on the console: "TypeError: event.startDate.getTime is not a function"

[2019-08-05 00:08] antoniandre commented on #155
Hi @alexxsexotic,
That's right, my mistake.
I apparently lost this commit in one of the merges from master into the V2 branch back when the V2 was still in development.
Anyway, it is now reintegrated in version 2.3.1 👌

[2019-08-05 00:08] #155 closed

[2019-08-05 00:09] antoniandre commented on #156
Duplicate of #155

[2019-08-05 00:09] #156 closed

[2019-08-05 00:43] antoniandre commented on #157
Hi @eakenbor,
Can I see your events array? even better if you give me the whole vue-cal markup with options.
It is probably related to the way the start and end of events are defined.

[2019-08-05 08:27] eakenbor commented on #157
Hi @antoniandre,
Here is my events array:
events: [
        {
          start: "2018-11-19 12:00",
          end: "2018-11-19 14:00",
          title: "LUNCH",
          class: "lunch",
          background: true
        },
        {
          start: "2018-11-20 12:00",
          end: "2018-11-20 14:00",
          title: "LUNCH",
          class: "lunch",
          background: true
        }

[2019-08-06 00:55] antoniandre commented on #157
Hi @eakenbor,
Thanks for the array of events, I can see it's not the source of the issue.
We need more of your code to track the problem, please fork and complete this Codepen with your code so I can investigate what's going: https://codepen.io/antoniandre/pen/rPzWOJ

[2019-08-06 12:50] pidzej opened #158 "Create event snap to time"
Hi its possible to make events on full time when i click on 12:45 its create event starting at 12:30 or 12.01 make event starting at 12:00?

[2019-08-07 00:16] antoniandre commented on #158
Hi @pidzej,
This option is currently not implemented but in my To do list.
But you can already achieve this by modifying the event start date on the fly.
Look at this example 3rd case:
https://antoniandre.github.io/vue-cal/#ex--more-advanced-event-creation > 3.

[code]

I have created a Codepen demo to help you out: https://codepen.io/antoniandre/pen/WVMEGj?editors=1010

Let me know if that's what

[2019-08-07 00:32] eakenbor commented on #157
Hi @antoniandre,
Now I have resolved the issue. It was because the vue-cal was wrapped inside a form hence the constant reloading of the page.  Thanks for your effort.

[2019-08-07 01:22] #157 closed

[2019-08-07 23:30] antoniandre commented on #140
Closing for inactivity. Please reopen if not solved.

[2019-08-07 23:30] #140 closed

[2019-08-07 23:32] antoniandre commented on #120
The feature is out, closing for inactivity.

[2019-08-07 23:32] #120 closed

[2019-08-07 23:33] antoniandre commented on #134
The feature is out, closing for inactivity. Please reopen if not solved.

[2019-08-07 23:33] #134 closed

[2019-08-08 11:46] NyxCode opened #159 "Time Grid - Allow x-scrolling on day view if too many splits and it won't fit"
awesome project, great work!
Do you think it's possible to create a time grid similar to this ![image](https://i.imgur.com/22RAef7.png)?
A problem i encountered while trying to replicate this was that the events take as much width as they can get - Is there an easy way of fixing their width?

[2019-08-08 12:45] Arminmsg opened #160 "Multiple day events are displayed incorrectly if end date is 00:00"
Hi thanks for this project, really helped me.

I'm currently trying to display multiple day events on the week view. But they're not displayed correctly if the events ends at 00:00.
See:
https://codepen.io/Arminmsg/pen/BXrXLy

My workaround for now is to change the end time from 00:00 to 23:59 the previous day.

[2019-08-08 14:59] Arminmsg commented on #160
Saw it's a duplicate of #139

[2019-08-08 14:59] #160 closed

[2019-08-08 23:37] antoniandre commented on #139
I understand @louhuaidong, @arminmsg.
I leave this open and will try to handle this case internally if it's possible.

[2019-08-08 23:43] antoniandre commented on #160
Hi @Arminmsg, thanks for your feedback.
I was explaining in #139 that the way to tell **vue-cal** to end an event at 00:00 is to explicitly write `24:00`: this is internally converted, with the benefit of staying at the day you want it to end and not start a bit on the next morning.

But I understand the inconvenience so I'll have another look to see if I can handle ending at `00:00` as well.

[2019-08-09 00:00] antoniandre commented on #159
Hi @NyxCode,
Thanks for your feedback :)
I think what you are looking for is to split a day in four, using the `split-days` option.
Have a look here: https://antoniandre.github.io/vue-cal/#ex--splitting-days and let me know.

[2019-08-09 13:59] NyxCode commented on #159
Oh, that's exactly what i was looking for! i really don't know i missed that while reading the doc..
thanks!

[2019-08-09 14:12] alexxsexotic opened #161 "Css transition isn't disabled when you switch between weeks and days"
When I change the weeks the transition is off, but when I go to the day tabs the transition is not disabled. ( I needed it to be disabled, because I wanted the title text to be aligned on the left )

[2019-08-09 17:02] tarreislam commented on #28
I just implemented V2 and I am very pleased how you solved the 3 cell stack issue!

[2019-08-09 23:20] NyxCode commented on #159
I'm afraid i ran into a problem. the documentation states that

however, at the bottom of the page, it says that

I guess the second statement is a typo, since it doesn't seem to work in the day view. with 10+ splits, the calendar quickly gets unreadable on mobile devices. Is there a workaround to get `min-cell-width` working in the day view?

[2019-08-11 01:10] #147 closed

[2019-08-11 01:12] antoniandre commented on #145
Hi @shouwangshe,
It is not possible to pick different days from different weeks and put them in one view.
It will still not be possible in the future.
You can only put days of same week at the same time.

[2019-08-11 01:12] #145 closed

[2019-08-11 01:14] antoniandre commented on #152
Closing for inactivity.

[2019-08-11 01:14] #152 closed

[2019-08-13 00:04] antoniandre commented on #161
Hi @alexxsexotic, I created a pen when I align title on the left: https://codepen.io/antoniandre/pen/NQOwKR

I also disabled the transitions in it and it seems to be disabled everywhere except when changing from or to `years` view. I will have a closer look why soon.

[2019-08-13 05:58] yogaprasss opened #163 "Month name and arrow doesn't show up"
Hello everyone, I'm new here. I have some issues on month name and arrow to change between months on title bar doesn't show up.

Here is the code
` <vue-cal
        :disable-views="['years', 'year', 'weeks', 'week']"
        :time="false"
        selected-date="2019-09-01"
        xsmall
        click-to-navigate
        default-view="month"
        events-on-month-view="short"/>`

![vue-cal issue

[2019-08-13 07:46] antoniandre commented on #163
Hi @yogaprasss, the markup is correct.
do you have any JavaScript error?
And more important, do you have vue 2.6+ And latest vue-cal (2.0+)?

[2019-08-13 09:29] yogaprasss commented on #163
Hi @antoniandre thank you for your reply
I just found out that my vue version is below 2.6 and my vue-cal version is below 2.0.
Unfortunately, for some reason, I just can't upgrade it to the latest version.
So I decided to make my version of that title bar.
Once again, thank you for your reply and have a good day :)

[2019-08-13 09:30] #163 closed

[2019-08-13 14:55] alexxsexotic commented on #161
Thank you very mucy

[2019-08-13 14:55] alexxsexotic commented on #156
Thank you very much

[2019-08-13 23:43] antoniandre commented on #163
Ok good. Remember if you use vue-cal version 1.x you should refer to the v1 documentation (there's a link in the top bar of the v2 documentation)

[2019-08-15 00:37] antoniandre commented on #159
Hi @NyxCode,
Your request makes sense, I did not foresee one could have enough splits on a day that it would not fit.

I'll redo the implementation to allow that. Will only do it next week though.
In the meantime here is a quick solution using CSS: https://codepen.io/antoniandre/pen/PoYNGmr

[2019-08-15 22:45] eakenbor opened #164 "Strange behavior with date objects"
Vue-cal is behaving strangely when fed with the following date objects.

events: [
      {
          startDate: new Date("2019-08-14T22:00:00.000Z"),
          endDate: new Date("2019-09-16T22:00:00.000Z"),
          title: "LUNCH",
          class: "lunch",
          background: true
        }
    ]
Instead of the event covering the entire span on the calendar, it instead covers only a tiny part

[2019-08-16 03:12] antoniandre commented on #164
Hi @eakenbor, this is because your event ends exactly at 00:00:00, it will be solved if you set 23:59:59 instead.

See more details in #139.

[2019-08-16 03:12] #164 closed

[2019-08-16 03:13] antoniandre commented on #158
Closing for inactivity. Please reopen if not solved.

[2019-08-16 03:13] #158 closed

[2019-08-16 13:57] eakenbor commented on #152
Hi @antoniandre
I don't understand how to apply the css to hide the events, as I have tried all ways I could guess but failed. Please take a look at my modal and css and see if you can point out what I am doing wrong.
<vue-cal
          class="event-middle vuecal__event-time, event-end vuecal__event-time"
          small
          default-view="month"
          :disable-views="['years', 'year']"

[2019-08-16 21:33] eakenbor commented on #139
I had to work around this by converting the date emitted by my date picker  to milliseconds, deduct 1 millisecond, and then convert back to a date string before saving the event to my database. I think you should solve this issue in a future version because one never knows when an emitted date could be a millisecond past the hour and this problem would re-occur.

[2019-08-17 10:28] eakenbor opened #165 "Hide the time range on multiple day events"
Hi @antoniandre
I don't understand how to apply the css to hide the events, as I have tried all ways I could guess but failed. Please take a look at my modal and css and see if you can point out what I am doing wrong.
<vue-cal
          class="event-middle vuecal__event-time, event-end vuecal__event-time"
          small
          default-view="month"
          :disable-views="['years', 'year']"

[2019-08-19 09:35] antoniandre commented on #165
Exactly as I previously wrote it:
[code]

https://codepen.io/antoniandre/pen/wvwzvQX?editors=0100

[2019-08-19 10:48] silencechow opened #166 "[Vue warn]: The computed property "locale" is already defined as a prop."
I am getting this warning when I using vue-i18n packages.
I have set the `props` to `en` but still get the warning and can't change the locale as I want.
[code]

[2019-08-19 10:57] #166 closed

[2019-08-19 10:58] silencechow commented on #166
Sorry.
I found that, I have a global mixin including a computed variable called `locale`

[2019-08-19 13:48] eakenbor commented on #165
Thanks @antoniandre ,
I put my events and your recommended css into the code pen and it worked. However, it still does not work in my template. I don't know if it should be applied differently when using vue-cli like in my case.
//Here is my vue template
<template>
   <div>
     <vue-cal
          class="vue-cal event-middle vuecal__event-time event-end vuecal__event-time"
          small

[2019-08-19 16:18] briangsmith42 opened #167 "Trigger "previous" and "next" from another component"
Maybe this already exists and I'm just missing it... but it would be great if we could have "prev" and "next" buttons on another component (a toolbar, in our use case) trigger vue-cal to move to the previous or next month or week or whatever.

I was able to create external view-switching buttons with the switchView() function, just looking for similar capability to externally do prev and next.

[2019-08-20 14:40] kstankov commented on #122
Hi.
First, thanks for this component, Antoni. Great work!
I also want to ask, if it is possible to scroll the calendar (Week, Day view) to current time.

[2019-08-20 19:39] iagocaldeira opened #168 "Typescript support"
Is there any typescript support for this library? Are there any plans to support it in near future?

[2019-08-23 04:29] richardkyk opened #169 "Bug when displaying event spanning multiple days"
{
          start: "2019-11-06 09:45",
          end: "2019-11-06 16:05"
        }

If I have an event that crosses multiple days, and is being displayed on the previous month's view it will throw an error:
`vue.runtime.esm.js?2b0e:1888 TypeError: Cannot read property 'isFirstDay' of undefined
    at fn (vuecal.common.js?7fa7:4699)
    at normalized (vue.runtime.esm.js?2b0e:2590)
    at Proxy.rend

[2019-08-23 06:30] tarreislam opened #170 "Increase distance between timestamps in weekly view"
Hi.

Like the title suggests, how could I change the distance between time periods (Or a similar fix that gives me the same outcome).

I want to do this because for this particular use case I want to see the entire content of all the events, now, if theyre to small they will just be hidden.

Thanks in advance

[2019-08-23 17:39] tarreislam commented on #170
nvm im stooopid

[code]

[2019-08-23 17:39] #170 closed

[2019-08-24 13:09] #169 closed

[2019-08-24 13:10] richardkyk commented on #169
After playing around a bit, it seems to have disappeared. I think maybe I had an issue with my code, possibly in regards to the classes for the events.

[2019-08-26 18:47] eakenbor commented on #165
@antoniandre ,

It is pretty clear this works only when vue-cal is imported with CDN and does not work with the Vue CLI. Is this problem what you plan to solve soon?

[2019-09-02 16:13] Nainterceptor commented on #127
Hello,
We're using vue-cal with [nuxtJS](https://nuxtjs.org/), but it's not working, we've some chunks failing to load (about i18n).
I think you've to test with NuxtJS if you're considering SSR.

[2019-09-04 10:38] antoniandre commented on #165
@eakenbor, The whole documentation is built on vue-cli. No problem with CSS. This is not a problem that comes from vue-cal.

You can get the source code and run it to see it working. But you have to explore in your code why the CSS does not take effect. The problem probably  comes from the order your CSS are loaded, or from an override somewhere in your CSS.

[2019-09-04 10:38] #165 closed

[2019-09-04 12:16] antoniandre commented on #167
Hi @briangsmith42,
Yes your right, this was already possible for the view buttons, and now I have added the previous and next buttons in version 2.5.0. Refer to:  https://antoniandre.github.io/vue-cal/#ex--external-controls

Hope it helps.

[2019-09-04 12:16] #167 closed

[2019-09-09 09:59] dimassrio opened #171 "Can't seem to listen double click event in touch device / simulated chrome"
Dear @antoniandre
Is there anything that I need to setup to make the event trigerred in touch based device? It's working fine on desktop chrome. The code that I've been using is the same in your documentation on event creation.

[2019-09-12 04:37] antoniandre commented on #168
Hi @iagocaldeira,
There is no particular support for now. It might come in the future if it does not require a full rewrite.

[2019-09-12 04:47] antoniandre commented on #171
Hi @dimassrio, if you are using the same code as https://antoniandre.github.io/vue-cal/#ex--more-advanced-event-creation > On cell single or double click, a double click should work on both desktop and mobile.

If you are emulating touch from desktop you should reload the page first.

Please try the documentation example itself on your device that you say does not work, then if it does not work on

[2019-09-13 11:21] iliabrykin opened #173 "Error: Boxing 'All day' is not displayed."
:show-all-day-event="'short'"
default-view="week"
:time="true"

[2019-09-13 12:12] iliabrykin commented on #173
Sorry,
:show-all-day-events="'short'"

[2019-09-13 12:13] #173 closed

[2019-09-16 12:17] azhard4int opened #174 "Drag and Drop feature!"
Hi,

Do you have any ETA when the drag and drop feature will be implemented, or if you can guide me a little bit, I can send the PR?

Thanks.

[2019-09-18 04:55] freenetwork opened #175 "How to add lib to project?"
How to add lib to project?
I get error: <vue-cal> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

[code]

[2019-09-18 06:07] antoniandre commented on #174
Hi @azhard4int, (and any interested **`vue-cal`** user to be part of this awesome project!)

Thanks for your interest.
The drag and drop feature is already started in the `drag-and-drop` branch, but left aside for now for a matter of priority in the feature requests order and because of the difficulty of adapting all the code to work well with this feature and vice-versa.
If you want to help on th

[2019-09-18 06:10] antoniandre commented on #175
Hi @freenetwork,
You have a letter case mismatch where you import `VueCal` and you use the component `vueCal`

[2019-09-18 06:56] antoniandre commented on #127
Hi @Nainterceptor,
I've quickly tried it in dev mode and get no error, please provide a sample of code or reproduction link, and some details about when exactly does it break, so I can investigate from there.

[2019-09-20 04:11] jfaquinojr opened #176 "Date Navigation in Monthview is broken in IE"
1) use IE 11
2) goto sample website
https://antoniandre.github.io/vue-cal/#ex--basic
3) switch to Month view
4) click left or right arrows several times

actual:
![image](https://user-images.githubusercontent.com/8035580/65298880-c00ef700-db9f-11e9-8d3e-7c40a426c5f6.png)

[2019-09-20 05:04] antoniandre commented on #176
Hi @jfaquinojr,

The documentation page is tested on IE 11.356 on windows and it works all fine, slow but fine (there are more than 35 instances of vue-cal on that page).

Please clear your browser cache, test the documentation page and if still broken let me know the version and OS.

Cheers.

[2019-09-22 23:34] antoniandre commented on #168
Hi @iagocaldeira,
Can you please share what you have tried and errors and I'll work from there?
Cheers.

[2019-09-23 03:01] freenetwork commented on #175
Friends, on the territory of Russia IQ is blocked, and the platform does not allow to trade. Development got up a long time ago because of this

[2019-09-23 09:45] iamgmd opened #177 "Make now-line reactive"
Is it possible to make the now-line automatically move with the current time and date?

I can make it move if I rerender the whole calendar on a timer but it would be nice to have something built in which doesn't effect anything else in the view when changing.

[2019-09-23 17:30] iagocaldeira commented on #168
I have already tried generating a dts using https://github.com/microsoft/dts-gen
but since it's a Vue Component, I think it must be using a interface with a "PluginFunction" from Vue for the installation and must have a interface for the component, not just namespaces, and consts.
[code]

[2019-09-23 19:06] devNoiseConsulting opened #179 "Events ending at midnight don't display"
Trying to create a schedule with vueCal. Having a problem when my events end at midnight as they won't display on the calendar.

Here's a codepen to show it in action: https://codepen.io/_dev_noise/pen/BaBMQYy

` new Vue({
  components: { vueCal: vuecal },
  el: '#app',
  data: () => ({
  showDialog: false,
  events:[
    {"start":"2019-09-23 22:00","end":"2019-09-24 01:00" ,"title":"Democracy Now

[2019-09-24 03:00] antoniandre commented on #179
Hi @devNoiseConsulting,
This is a duplicate of #139.

[2019-09-24 03:00] #179 closed

[2019-09-24 23:21] #175 closed

[2019-09-24 23:22] antoniandre commented on #171
Closed for inactivity. Please reopen if not solved.

[2019-09-24 23:22] #171 closed

[2019-09-24 23:50] antoniandre commented on #177
Hi @iamgmd,
This is is doable and nice to have I agree. I'm adding it to my to do list.
But keep in mind that this has a cost as there will be a `setTimeout` or `setInterval` to check on current date seconds at least every minute.

[2019-09-26 19:44] davidhampson opened #180 "Issue with overlapping events"
Hi, first of all thanks for this great tool! I am experiencing a javascript error in relation to overlapping events, using your example code.

I only get these errors when there are overlapping events. Any help is appreciated!
![image](https://user-images.githubusercontent.com/26553919/65719729-43768f80-e05b-11e9-9e9d-509abcda42bc.png)

[2019-09-30 23:26] antoniandre commented on #180
Hi @davidhampson, thanks for the feedback.
Can you share your code and version of vue and vue-cal please?

[2019-10-02 18:37] azhard4int commented on #174
Thank you for the detailed comment, I could not get back to you earlier due to our office relocation.

I'll start playing around in the coming weekend and see how it goes.

[2019-10-02 23:29] antoniandre commented on #174
Hi @azhard4int,
Myself too I am quite busy at the moment and I regret to have to leave vue-cal unattended for so long haha.
But I am very excited about this feature and plan to get back to vue-cal very soon.
Anyway, don't hesitate to ask anything or get in touch by email if you prefer, you can get my email address in the package.json.

Cheers.

[2019-10-03 13:01] antoniandre commented on #159
Hi @NyxCode,
I have released version 2.7.0 to allow horizontal scrolling on day view when there are a lot of splits.
This is possible through the new option `min-split-width`.
Please refer to the example https://antoniandre.github.io/vue-cal/#ex--splitting-days

Hope it helps!
Please close the issue if solved.

[2019-10-03 23:29] antoniandre commented on #168
I read a few things but as I never used typescript I don't know enough to fix this.
I have to read more documentation. Meanwhile if anyone can help or give me clear indications or tutorial how to convert a library for typescript support, any help is welcome.

[2019-10-03 23:32] antoniandre commented on #127
I haven't seen any particular problem when I tried, but I am no Nuxt expert.
If anyone can reproduce the problem and can give me the step by step to reproduce, I will work from the errors.

Any help is welcome.

[2019-10-03 23:58] antoniandre commented on #122
Hi @kstankov,
Sorry I missed your question, there is no built-in support to do that may come later.
But here is a simple way to do a scroll:

[code]

you can put the y position you want, and remove the smooth param if you want.

[2019-10-04 00:18] NyxCode commented on #159
That's awesome, thank you! I really appreciate the effort you put into this!
One thing: would it be possible to have the horizontal scroll bar visible without having to scroll all the way down? Not a huge deal, would be nice though.

[2019-10-04 07:37] antoniandre commented on #109
Hi @13thbit,
I have added this feature in version 2.8.0. Please have a look at this example https://antoniandre.github.io/vue-cal/#ex--hiding-particular-week-days and let me know if that's what you're after.

Cheers.

[2019-10-06 23:21] antoniandre commented on #159
Great, I'm glad it helps. Closing the issue then.
Regarding the scrollbar, I could not find a better way, as the calendar body needs to scroll both ways and overflowing in both directions.

I will keep looking for an improvement for the scrollbar and will release if I find something better.
Cheers!

[2019-10-06 23:21] #159 closed

[2019-10-07 13:16] antoniandre commented on #177
Hi @iamgmd,
I have released this feature in version 2.10.0,
Please refer to the API section https://antoniandre.github.io/vue-cal/#api, and use the option `watchRealTime` (`watch-real-time` in template).

Let me know if does what you're after.
Cheers.

[2019-10-08 04:17] antoniandre commented on #159
PS: @NyxCode, Thanks for supporting the project mate, I appreciate it. :)

[2019-10-09 04:55] cain commented on #174
We are looking to move over our calendar plugin to vue-cal and having drag n drop is a must. Please keep us updated! :)

[2019-10-09 20:27] iagocaldeira commented on #168
Don't worry, this is working with TS, it's just a complement so VS Code users could autocomplete their codes!
Thanks for your support!

[2019-10-14 02:59] jfaquinojr opened #184 "v-on:click in slot="arrow-prev" not working in IE"
The following works perfectly fine in chrome but not IE
[code]

[2019-10-15 12:15] iamgmd commented on #177
Hi @antoniandre, thanks, this works perfectly as in the timeline does now move in relation to time.

A small change if it can be done, can the component somehow keep track on the current date being rendered and rerender itself when the timeline moves beyond 23:59? This will allow the timeline to be in sync with the current date too, i.e. rerender vuecal__title to show new date, etc. Probably relat

[2019-10-15 21:53] Twoody commented on #19
@chriswaweru70  Did you ever get this resolved? I have spend about 30 minutes trying everything from `vuecal__event`, `vuecal__flex`, and more with no avail.

[2019-10-15 22:26] Twoody commented on #19
@chriswaweru70  I found the component withing `vuecal__cell:before`.
@antoniandre is there any reason why we should not manipulate this object directly to remove the border around the calendar?

[2019-10-15 23:27] antoniandre commented on #19
No you can override styles up to your needs, the only reason why it's here is because I need to provide a minimum default styling for most cases.

The outer border of the calendar comes from this rule:

[code]

You can remove it with a `.vuecal {box-shadow: none;}`

[2019-10-16 01:52] keithn opened #185 "Next 7 days View"
Rather than a week view, how easy is it to create a "Next 7 days" or "Next X days" view as the thing I'm interested in is things in the future.

So when it's currently a day late in the week, you can't really see the upcoming events over the next 7 days ( or some other number of days)

Is it possible to customize the component to do this?

[2019-10-16 05:02] chriswaweru70 commented on #19
Thanks for the reply..... I did the same

[2019-10-16 05:08] Twoody commented on #19
@antoniandre Thank you for that suggestion. I tested it again in a second new directory with `vue-cal`, and it works great.

[2019-10-16 09:26] Rayyangyang opened #187 "click month cell"
Can I listen for the event of clicking the month cell

[2019-10-16 22:40] antoniandre commented on #19
All good fellas.
(Sorry @chriswaweru70, did not see your post earlier.)

[2019-10-16 22:49] antoniandre commented on #184
Hi @jfaquinojr, can you share the whole vue-cal snippet please? is it a slot inside vue-cal?
Can you try this instead and let me know:

[code]

Cheers.

[2019-10-16 23:00] antoniandre commented on #187
Hi @Rayyangyang, yes you can.
You can try it in this example: https://antoniandre.github.io/vue-cal/#ex--emitted-events
Go to month view, clear the logs box and click a cell.

Two events are fired: `cell-click` & `cell-focus`.

So you can use like this, it's all in the documentation:

[code]

Hope it helps, you can reopen it it doesn't.

Cheers.

[2019-10-16 23:00] #187 closed

[2019-10-16 23:02] antoniandre commented on #180
Closed for inactivity. Please reopen if not solved.

[2019-10-16 23:02] #180 closed

[2019-10-16 23:09] antoniandre commented on #55
Quick heads-up fellas! @BernardZhao, @RiSC222, @dersmoll, @DuredhelFinceleb, @davidgraeff.

This feature is in the pipe!
Started in the [`recurring-events` branch](https://github.com/antoniandre/vue-cal/commits/recurring-events) and already working for single-day events.

I am now developing recurring all-day events and recurring multiple-day events.

Cheers.

[2019-10-17 01:32] jfaquinojr commented on #184
Hi @antoniandre ,

Here is the complete vue-cal snippet

[code]

Your suggestion above didn't work. Also, the `@click.native="previous"` didn't work both on IE as well as Chrome.

For now, my solution isn't pretty - I hid the title bar and draw my own buttons and title.

[2019-10-17 02:19] Rayyangyang commented on #187
thank you  i have  resolve this question

[2019-10-17 09:04] exislow commented on #87
+1

Do you have already a finishing date for this?

[2019-10-19 07:55] Catmal opened #188 "Events from axios not showing"
I am fetching from axios a reservations array and pass it to data in the component. I can see the array filled on mutableEvents, but view/events array is empty.
To render the calendar in component I just use:
[code]
Where should I look to fix it?

[2019-10-19 11:51] NyxCode opened #189 "min-split-width breaks month view"
When using `min-split-width`, the days in the month-view are too large. I came up with this minimal example:
[code]
While the day-view works fine, the month view looks like this: ![image](https://i.imgur.com/VzDWgRK.png)
In the DOM tree, I found this element with `min-width: 7000px`. Removing the `min-width` solves the problem.
![image](https://i.imgur.com/UxSVwEw.png)

[2019-10-20 10:03] antoniandre commented on #188
Hi @Catmal,
That's interesting, can you show the format of the events you pass to vue-cal? what you have in reservations array.

You can console.log the events that **vue-cal** receive on `view-change` for instance (https://antoniandre.github.io/vue-cal/#ex--emitted-events):

[code]

[code]

Cheers.

[2019-10-20 11:54] antoniandre commented on #189
Hi @NyxCode,
I am not sure if this is the same problem in your code and in the isolated example you gave me, but in this code snippets, it seems that that **vue-cal** cannot find a default view as the default  view is `week` but you have disabled it. So you need to specify another default view: `default-view="month"`. Here is a Codepen of this working snippet: https://codepen.io/antoniandre/pen/Yz

[2019-10-20 13:34] NyxCode commented on #189
Hm, no, that doesn't seem to solve the issue. Really strange.
I put together an minimal example [here](https://github.com/NyxCode/vuecal-test). If I run it with `npm run serve`, I get the behaviour I described.

[2019-10-20 23:37] antoniandre commented on #185
Hi @keithn,
Showing 2 weeks at the same time is not possible within the same **vue-cal** calendar. Only the month view will do what you want and here is how to show events on month view: https://antoniandre.github.io/vue-cal/#ex--events-on-month-view.

However, it is possible to use 2 vue-cal instances to show 2 weeks. So here are 2 other ways:
- you could have two **vue-cal** instances synced tog

[2019-10-21 04:21] antoniandre commented on #116
Hi @eladyaniv01,
The v2 is out for a while now and I just remembered you asking to help.
If you still feel like contributing that's awesome! Otherwise, no problem at all! 👌

- If you wanted to contribute code:

  You can pick any of the open issues as long as you let me know what you are working on so we won't do the same thing!
  You can also email me if you want more direction and/or assistance

[2019-10-21 04:56] Catmal commented on #188
If I log events as you suggested I get this. Also by using @view-change I was getting nothing so I used @ready instead.
![Screenshot from 2019-10-21 12-41-49](https://user-images.githubusercontent.com/7369240/67177297-89c3d200-f400-11e9-80ee-f3f3be2ec715.png)

This is data section:
![Screenshot from 2019-10-21 12-55-15](https://user-images.githubusercontent.com/7369240/67177655-1327d400-f402-11e9-

[2019-10-21 05:15] antoniandre commented on #188
HI @Catmal,
I can't find out which is the actual events array of your reservation from your screenshots.
Please just paste here one of the event **as it is passed to vue-cal**.

I am convinced that you don't respect the expected format of the event.
Please read the documentation again and try in this example to put your extracted events.
https://codepen.io/antoniandre/pen/rPzWOJ

[2019-10-21 10:40] antoniandre commented on #189
As I said you are not using the latest vue-cal, you are using v 2.7.0 from your packages.json.
If you go back to this example: https://codepen.io/antoniandre/pen/YzzpLyj?editors=1010 and put the vue-cal 2.7.0 in dependencies you will also get the same issue.

Let me know if not solved after upgrading **vue-cal**.

[2019-10-21 15:14] NyxCode commented on #189
now that's embarrassing :man_facepalming:
thanks & sorry for bothering you

[2019-10-21 15:14] #189 closed

[2019-10-21 19:46] Catmal commented on #188
The problem was indeed the format of start and end fields. Once I changed their format in the json the events showed up. Thanks for the help.

[2019-10-21 22:29] antoniandre commented on #189
Haha, no worries mate. glad it's solved.

[2019-10-21 22:31] antoniandre commented on #188
That's great, all good then!
Glad it's solved.

[2019-10-21 22:31] #188 closed

[2019-10-21 22:34] antoniandre commented on #177
Hi @iamgmd, I am doing some tests to see if I can have the whole calendar rely on the watched time and change today's date by itself.
this is still not guaranteed by I am making some progress.
Will let you know the outcome.

[2019-10-22 08:36] jatasya opened #190 "@view-change="onDateSelection('view change', $event)" is triggered infinite times"
hi guys, when i try to hear the event trigger @view-change[https://imgur.com/a/DYvAQU4](issue image) the event is getting trigger infinite times. how can i solve it
![@view_change issue](https://user-images.githubusercontent.com/18435494/67269742-e0024500-f4d4-11e9-85f1-caf6095c33b1.png)

`     <vue-cal

        :selected-date="todaysDate"
        :events="courses | courseFilter(courseFilterBy)"

[2019-10-22 12:41] ray007 opened #191 "switch view performance"
I have a sidebar with as many month views as fit (usually 5), and buttons for next/prev above to jump the view by as many months.
Doing so takes upwards of 9 seconds (using the `next` and `previous` methods, about 12 when using `switchView`), much longer than the initial render.

Doing a quick performance analysis with chrome devtools, every single `Vue._render` on every single day-cell of those c

[2019-10-22 23:07] antoniandre commented on #190
Hi @jatasya,

Can you show more of your code? what is this API call?
You may end up with an infinite loop pulling events from database and putting them back in the vue cal array of events which in turn re-triggers a view change from external change.

This is not sure though.

First step you need to comment things of your code, starting with this API call.

[2019-10-22 23:43] zechariahs commented on #169
@richardkyk Any idea how you solved it?  I'm running into the same problem.

[2019-10-23 19:02] JackFront opened #192 "Year view and timezone"
Hey guys, all right?

I have some issues here and haven't found anything in the documentation so far, could you help me?

You would need the year view to look like google:

![image](https://user-images.githubusercontent.com/43053055/67425688-df3de180-f5ae-11e9-8d3d-4f1b45a025a3.png)

What about timezone as I can change the calendar timezone to integrate with google calendar?

[2019-10-24 04:49] antoniandre commented on #177
Hi @iamgmd,

I have modified the code to update the entire calendar internal date time in the 1 minute timer.
Now the Today's date will always be accurate if you have watchRealTime option set to true.
If watchRealTime is false, and by default, the internal time gets updated when the cells are redrawn (on view change).

This is now released in version 2.12.2.
Hope it helps.

[2019-10-24 05:13] iamgmd commented on #177
@antoniandre Excellent work my friend, I will give it a shot and let you know the outcome.

[2019-10-24 05:35] iamgmd commented on #177
I am getting an error:

`TypeError: Cannot read property 'split' of undefined`

I think there is a problem at 7487 vuecal.common.js

`[(hoursStart, minutesStart)] = startTime.split(':');`

My Event collection is read from a database so it will be initially [] but when data is present, it is in the following format that worked with 2.10.2

[code]

Please advise.

[2019-10-24 05:45] antoniandre commented on #177
Oops that's me releasing too quickly my code cleanup. 😅
Now fixed in 2.12.3.

[2019-10-24 05:48] iamgmd commented on #177
Yep, all working now... I will test the watchRealTime and let you know the outcome.

[2019-10-24 12:34] Mike-Taiki commented on #192
I have the same problem. Someone can help?

[2019-10-24 16:30] green-pigeon opened #194 "AllDay event on 27th October causing unresponsive browser"
Hi,
This calendar is awesome but I came across a very strange issue.

When it tries to load an allDay event with start: "2019-10-27 00:00" and end: "2019-10-28 00:00" the browser's tab becomes unresponsive and its CPU jumps to 100. I thought it could be because 27th is Sunday - the end of the week. But if I change start and end to "2019-10-20 00:00" and "2019-10-21 00:00", it renders fine and the

[2019-10-24 17:57] kstankov commented on #194
Could it be, because on the 27th, many countries are going from summer DST to winter time?

[2019-10-25 00:18] antoniandre commented on #192
Hi @JackFront and @Mike-Taiki,
This is 2 features that vue-cal does not do out of the box.

One way to reproduce that view though is to have 12 vue-cal instances one per month.
I have created an example here for you: https://codepen.io/antoniandre/pen/jOOmxzo

The `year` view you can display within a single instance of **Vue Cal** does not include days: you need to click on month to drill down to

[2019-10-25 01:18] antoniandre commented on #194
Hi @green-pigeon, @kstankov,

Thanks @green-pigeon for the feedback.
I will investigate why it happens on that date in particular, but in any case you should not end an event at `00:00` for Vue Cal you need to use an explicit `24:00` so it does not create another segment on the next day. You can also set time at `23:59` that's fine too.
Here is the discussion about it: #139

[2019-10-25 07:12] vikas-nichi commented on #190
Hi @antoniandre I got your point Thank for that. I wanted to hit a api on forward button or arrow-prev button click but i'm not able to get the date info on the arrow-prev and arrow-next button click is there a way to acheive it.

Thank you in advance

[2019-10-25 10:17] psengh opened #195 "Can we loop time cells from 08:00 to 08:00 next day?"
Hi,
I have seen in doc that you can do time-from and time-to, but max value of time to is 24 * 60 so the cells stop at 24:00. Can we loop them from a given time to the same time next day, so that I can still get 24 cells ?

PS: If you don't have this feature I can raise a PR!

[2019-10-27 23:24] antoniandre commented on #195
Hi @psengh,

`time-from` & `time-to` are used to defined the daily time range you are interested in, anything outside of this range will be hidden refer to this example https://antoniandre.github.io/vue-cal/#ex--timeline.

So if you don't set any `time-from` & `time-to` by default it will go from 00:00 to 24:00 just as a normal day.

Thanks for suggesting a PR, but I don't think it makes much sens

[2019-10-27 23:55] antoniandre commented on #194
Hi @green-pigeon, @kstankov,

This Codepen https://codepen.io/antoniandre/pen/QWWgROW?editors=1010, shows that an event on the 27th of October does not cause any problem by itself.
The problem came from an event ending at `00:00` as written in #139.
Please continue reporting problems related to events ending at 00:00 in #139.

Thanks, closing this issue now.

[2019-10-27 23:55] #194 closed

[2019-10-28 23:37] antoniandre commented on #190
Hi @vikas-nichi,

I have updated the "How to fetch events from an API" Codepen example to make a full and clear example. https://codepen.io/antoniandre/pen/rbpPab?editors=1010

(You can find more Codepen examples from the documentation here: https://antoniandre.github.io/vue-cal/#examples)

This should help you solve the issue.

[2019-10-29 07:26] psengh commented on #195
Hey @antoniandre,
I understood what you are trying to say. It's not a good thing to do.

In case if you need any help in any other PR's please let me know.
Cheers.

[2019-10-29 07:26] #195 closed

[2019-10-29 23:07] antoniandre commented on #191
Hi @ray007,
This looks like a serious question, I will take some time to investigate.
But before I do, I want to suggest to have a look at this example https://codepen.io/antoniandre/pen/jOOmxzo. Let me know if the code in your app is slower than that with only 5 months.

Please also share your code so I can work from there - ideally a reproduction link.

[2019-10-29 23:14] antoniandre commented on #109
The feature is out, closing this issue for inactivity.

[2019-10-29 23:14] #109 closed

[2019-10-29 23:20] antoniandre commented on #195
Thanks for your enthusiasm @psengh!
Well there's always work if you want to help on vue-cal,
First if you have experience with #127 or #168 please have a look. Otherwise #184 seems to be the easiest issue for a start. Then #139 may be just slightly more complex.

If you start anything, please email me, (you can find my email is in the package.json file) and I will give you more instructions on wha

[2019-10-30 10:44] ray007 commented on #191
Interesting, this seems to perform better than my month-preview sidebar.

The only difference I can see is my sidebar width being fixed so all calendars are in only 1 column, not using the rounded theme and having a shared `events` array for highlighting. And I had fixed the height on the container holding the calendar I think...

I've switched my sidebar to the native calendar widget of element-u

[2019-10-31 00:57] AfikDeri opened #196 "i18n not working - ChunkLoadError: Loading chunk failed"
I've followed the documentation and imported this component into my <CalendarView> Vue component.

When I use it in my template it works great. But, once I add the `locale` prop with the `he` value (which I know this component can support Hebrew) it crashes.

Here is the way I use it
[code]

It looks like it's trying to resolve the locale from a URL that does not exists.

Here is the error in my c

[2019-10-31 23:20] antoniandre commented on #196
Hi @AfikDeri,

Did you also import the Hebrew i18n file? like in the documentation example?
https://antoniandre.github.io/vue-cal/#ex--internationalization

Here is a working codepen with localized texts: https://codepen.io/antoniandre/pen/dxXvwv,
Notice the separated load of `https://unpkg.com/vue-cal@latest/dist/i18n/zh-cn.js` (in the javascript external libs).

Let me know if that fixes your is

[2019-11-01 00:08] AfikDeri commented on #196
You'r right. I dod not import the language, that was the problem. I couldn't find it in the docs. Thanks for the reply :)

[2019-11-01 00:08] #196 closed

[2019-11-01 01:18] antoniandre commented on #196
That's all good mate.
I have updated the documentation example to make it more visible and've added the Codepen example as well.

[2019-11-01 01:26] antoniandre commented on #191
@ray007, What could also make a big difference is the transitions option.
If you have noticed, I disabled it in the Codepen above.
If you don't, a click on previous or next will trigger a Vue.js transition (performed in javascript under the hood) with 365 cells to animate simultaneously - this is 365 x 2 groups of DOM elements to move simultaneously (Vue transitions clone the DOM element to perfor

[2019-11-01 18:47] Demers94 opened #199 "Customizing the end time of a programmatically created event"
On the click of a button, a modal pops up allowing the user to specify the starting and ending time of the event they are creating. However, when I try to programmatically add the event to the calendar, I can't seem to customize the ending time. It will always end 2 hours after the specified starting time

Here is a simplified version of the code I'm using :

[code]

The event will be created star

[2019-11-02 11:59] aocneanu commented on #85
Hi!

There seems to be a small inconsistency regarding counting, on year views all day events are omitted.

P.S. Thanks a lot for adding this!

[2019-11-03 00:04] antoniandre commented on #192
Closed for inactivity.

[2019-11-03 00:04] #192 closed

[2019-11-03 00:06] antoniandre commented on #185
Closed for inactivity.

[2019-11-03 00:06] #185 closed

[2019-11-03 00:11] antoniandre commented on #177
Should be working as expected, so I'm closing the issue. Please reopen if not solved.

[2019-11-03 00:11] #177 closed

[2019-11-03 01:54] #161 closed

[2019-11-03 02:04] antoniandre commented on #199
Hi @Demers94,

Thanks for your reproduction link.
The reason why it does not change the end date is that you also have to provide an `endTimeMinutes`.
It reckon it was not obvious from the documentation so I have updated it: https://antoniandre.github.io/vue-cal/#ex--more-advanced-event-creation (2nd case).

So in your case, just add the property: `endTimeMinutes: 15 * 60`.

Hope it solves your pr

[2019-11-03 02:11] antoniandre commented on #161
Hi @alexxsexotic, for information I have fixed the year view transition not being disabled.
Now `:transitions="false"` correctly removes all the transitions. (in version 2.13.1)

[2019-11-03 23:16] antoniandre commented on #184
Hi @jfaquinojr,
I tried on IE 11 and it worked. Then I noticed you placed `v-on:click` on the arrows slot which is wrong.
The `previous` and `next` functions are already injected on whatever you put in this slot, this is the purpose of the slot so you can't have another click event within or on it, it's not how it works.

Here is an example of a valid use of the arrows slots:
https://codepen.io/an

[2019-11-04 23:33] TheJaredWilcurt opened #200 "Multiple-day events crossing daylight saving time crash the browser"
Not sure exactly what the cause is, but it has something to do with the date range.

**Reproduction:**

* https://jsfiddle.net/wp39kL7u/3/

**Example:**
This works
[code]
This crashes the browser
[code]

[2019-11-05 00:17] TheJaredWilcurt commented on #200
It seems to be if it crosses 12-1am. and it crosses the end of a week/month

[2019-11-05 11:18] Spanching commented on #200
@TheJaredWilcurt  I had the same issue, In my case I think it was about the time change in germany. After splitting my event on 26.10 24:00/27.10 00:00 the issue was gone.

In your example it crashes on 27.10 too (at least when I tried), so maybe that could be helpful.

[2019-11-05 22:56] antoniandre commented on #200
Hi @TheJaredWilcurt,
Mmm that's weird. And it does not crash for me - or even slow down - when I try both end dates on your fiddle and go to month view 🤔
But it's been reported before that browser was hanging like in your case: #194.
In that case the event was ending at 00:00 which you should not as per this issue #139.

I'm keen to find the cause but for now I can't reproduce, so I will leave thi

[2019-11-06 03:10] Demers94 commented on #199
Thank you @antoniandre , it is working perfectly!

[2019-11-06 03:10] #199 closed

[2019-11-06 15:23] TheJaredWilcurt commented on #200
In Firefox it freezes the entire tab. In Chrome it freezes the iframe (in JSFiddle).

I'm in USA Eastern time. Though my team in USA Central time also can reproduce it. Doesn't seem to be OS dependent (happens on Win/Lin/OSX), but perhaps it is the US locale of the system defaulting things in `vue-cal` differently.

[2019-11-06 15:37] kstankov commented on #200
I can also confirm that it happened at the local DST change date. In North America DST changed last weekend...

[2019-11-06 16:36] TheJaredWilcurt commented on #200
## Cause found

Yep! That's what's causing it to crash. There is an hour of the day that it crashes during.

On March 10, 2019 we skip an hour (2:00 AM - 2:59 AM does not happen, it goes straight from 1:59 AM, then one minute later it is 3:00 AM).

On November 3, 2019 we repeat an hour (2AM-3AM happens, but then we go back to 2AM and repeat the same hour).

This is incredibly stupid and should be

[2019-11-06 17:10] kstankov commented on #200
Fix how? Change the end time of the event? In my case it was an event that spanned the DST night, not finishing or ending at the 'extra' hour.

[2019-11-06 19:31] TheJaredWilcurt commented on #200
I meant fix internally in `vue-cal`. It's the code that is crashing in this scenario, so it should be detecting the scenario and preventing the crashing.

[2019-11-06 22:57] antoniandre commented on #200
I hear you guys - does not seems like an easy fix.
Thanks for your explanation @TheJaredWilcurt and @kstankov, I could reproduce the browser hang in Australia/Melbourne timezone only happening on DLS change, only when turning to winter, and only if it is a multiple-day event.
That's a good step already.
Detecting a timezone change is fairly easy with pure JS, but fixing the code is another story.

[2019-11-07 06:49] antoniandre commented on #200
@TheJaredWilcurt, @kstankov,
Good news here, I found the problem and fixed it, I need to couple more tests and cleanup. Will release a patch soon.

[2019-11-07 08:09] antoniandre commented on #200
Hi @TheJaredWilcurt, @kstankov,
I have released the patch in version 2.13.2, please try to add your breaking event in this codepen https://codepen.io/antoniandre/pen/mddLEeO?editors=1010 and let me know if this is fixed in your timezone too.
(Make sure there is no cache in the codepen hitting the right version of vue-cal@2.13.2)

Thanks!

[2019-11-07 10:16] kstankov commented on #200
Thanks a lot, and thanks for this great component!

[2019-11-07 15:14] TheJaredWilcurt commented on #200
Yep that seems to have fixed it. Great work!

[2019-11-07 15:14] #200 closed

[2019-11-08 08:45] #190 closed

[2019-11-08 10:18] ray007 commented on #191
Just found time to try and I'm sorry to say it did not help.
There must be something else causing the force-reflow.

It also seems to be mostly a chrome-problem, on FireFox and Edge the switch is much faster.

Though I also wonder why there is a transition per day and not 1 per month...

[2019-11-13 08:11] calin-marian opened #206 "Create segments for multiday events for displayed out of scope days"
I have some multi day events that spread across 2 months, e.g.: start 31 dec 2019, end 3 jan 2020.

Currently, the segments are calculated only for days in the current month, but since the change that displayes events also on out of scope days, the code looks for segments for those days too, and an error is triggered: TypeError: "event.segments[cell.formattedDate] is undefined". This is because th

[2019-11-13 08:12] calin-marian commented on #206
Pull request: https://github.com/antoniandre/vue-cal/pull/205

[2019-11-14 22:34] antoniandre commented on #206
Hi @calin-marian, thanks for reporting and for the PR.
But I need to re-check in the code first where the problem comes from, because for performance, we should not create segments we don't use.
In your case creating segments for 42 days (6 weeks x 7 days) instead of 4 days.

Will let you know soon what I find out.

[2019-11-15 03:38] antoniandre commented on #184
Closed due to inactivity, please reopen if not solved.

[2019-11-15 03:38] #184 closed

[2019-11-17 12:45] 13thbit commented on #109
Hi @antoniandre,
Sorry for the very late reply, been working on some other projects.

Haven't had the chance to upgrade yet but from what I can tell it's perfect!
Great work, thanks a lot!

Cheers

[2019-11-18 00:01] Twoody opened #207 "NPM Install and testing failing with peer dependencies not found"
Looks like the current package is unable to be built. I would make a pull request for this, but I think this falls under "eslint errors" which one of my previous pull requests had been commented as "more work". So, I just have the diff here.

Test plan:
1. For each item in my diff appended to this post, run unix command (or equivalent) `which FOO`. i.e. `which eslint`
2. Remove all the global inst

[2019-11-18 00:06] antoniandre commented on #207
This is not an issue on vue-cal. Let's talk about that through email - will email you later today.

[2019-11-18 00:06] #207 closed

[2019-11-18 00:08] Twoody commented on #207
Okay. Thanks Antoni :) I'll be working on another bug that I believe I found too. Hope to have a PR for that over soon.